{% extends 'HomePage/base/home_base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block style %}
    {{ form.media }}

    <style>
        .card {
            box-shadow: 15px 15px 10px rgba(0, 0, 0, .095) !important;
        }
    </style>
{% endblock %}

{% block content %}


    <div class="section-grey">
        <div class="container mb-5 ">
            <div class="row mt-5" style="margin-top:10vh;">
                <div class="col-12 mx-auto">
                    <div class="display-4 text-primary">
                        <h2 class="card-title align-items-center text-center text-capitalize ">
                            Article Update</h2>
                        <p class="text-center text-capitalize"> {{ post.title }}</p>
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="card box-shadow mt-5">
                        <div class="card-content">
                            <form action="{% url 'blog:update_post' post.slug %}" method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-12">
                                    <div class="col-12 mt-5">
                                        {{ form.title|as_crispy_field }}
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6 mt-5 text-dark">
                                            <div for="" class="font-weight-bold  ">
                                                Image
                                            </div>
                                            {{ form.image }}
                                        </div>
                                        <div class="col-md-6  mt-5">
                                            {{ form.category|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12   text-dark">
                                    {{ form.published_date|as_crispy_field }}
                                </div>

                                <div class="col-12  mt-5">
                                    {{ form.description }}
                                </div>
                                <br>
                                <button class="float-right btn btn-outline-primary float-left m-5 px-5 ">Update</button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


{% endblock %}