{% load static %}
<footer class="footer footer-big text-light my_footer_color "
        style="background-color: rgba(0,0,0,0.9)!important;color: white !important;margin-bottom: 0vh !important;">
    <div class="container text-light">

        <div class="content ">
            <div class="row ">
                <div class="col-md-4 my_footer_color">
                    <h5 style="color: white !important;">About Us</h5>
                    <p style="color: white !important;">{{ about_website }} </p>
                    <p>. </p>
                </div>

                <div class="col-md-4 my_footer_color">
                    <h5 style="color: white !important;">Social Feed</h5>
                    <div class="social-feed">
                        <div class="feed-line my_footer_color">
                            <i class="fa fa-twitter my_footer_color"></i>
                            <p class="my_footer_color" style="color: white !important;">How to handle ethical
                                disagreements with your clients.</p>
                        </div>
                        <div class="feed-line my_footer_color" style="color: white !important;">
                            <i class="fa fa-twitter my_footer_color"></i>
                            <p style="color: white !important;">The tangible benefits of designing at 1x pixel
                                density.</p>
                        </div>
                        <div class="feed-line my_footer_color">
                            <i class="fa fa-facebook-square my_footer_color"></i>
                            <p style="color: white !important;">A collection of 25 stunning sites that you can use for
                                inspiration.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my_footer_color">
                    <h5 class="my_footer_color" style="color: white !important;">Instagram Feed</h5>
                    <div class="gallery-feed">
                        <img src="{% static 'main/image/faces/avatar.jpg' %}" class="img img-raised img-rounded" alt="">
                        <img src="{% static 'main/image/faces/christian.jpg' %}" class="img img-raised img-rounded"
                             alt="">
                        <img src="{% static 'main/image/faces/card-profile4-square.jpg' %}"
                             class="img img-raised img-rounded" alt="">
                        <img src="{% static 'main/image/faces/card-profile1-square.jpg' %}"
                             class="img img-raised img-rounded" alt="">

                    </div>

                </div>
            </div>
        </div>


        <hr>

        <ul class="pull-left my_footer_color" style="color: white !important;">
            <li>
                <a href="{% url 'blog:blog_list' %}">
                    Blog
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Discover
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Payment
                </a>
            </li>
            <li>
                <a href="#">
                    Contact Us
                </a>
            </li>
        </ul>

    </div>
</footer>
