{% extends 'main/blog/blog_base.html' %}
{% load crispy_forms_filters %}
{% load static %}


{% block content %}
    {#    <div class="main main-raised">#}

    <div class="container-fluid">

        <div class="section section-text ">

            <div class="container">

                <div class="row">
                    <div class="col-md-8 mx-auto">

                        <div class="card card-plain card-blog">

                            <div class="card-image">
                                <img class=" img-raised" src="{{ post.imageURL }}" style="height: 60vh;width:100%;">

                            </div>
                            <h2 class="text-center title mt-5">{{ post.title }}</h2>

                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">

                                    <div class="row" style="margin: 0px!important;">
                                        <div class="col-md-12">
                                            <div class="blog-tags" style="margin:0px !important;">
                                                <h4 class="font-weight-bolder">
                                                    Share:
                                                    <a href="#pablo" class="btn btn-google btn-round btn-sm pull-right">
                                                        <i class="fa fa-google"></i>
                                                    </a>
                                                    <a href="#pablo"
                                                       class="btn btn-twitter btn-round btn-sm pull-right">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                    <a href="#pablo"
                                                       class="btn btn-facebook btn-round btn-sm pull-right">
                                                        <i class="fa fa-facebook-square"></i>
                                                    </a></h4>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>


                                </div>
                            </div>


                            <p class="lead text-secondary ">{{ post.get_markdown }}</p>

                        </div>


                    </div>
                    <div class="col-md-4  mx-auto">
                        <div class="card">
                            <div class="card-image">
                                <a href="{% url 'portfolio:portfolio' post.user.username %}">
                                    <img src="{{ post.user.profile.profilePicsImageURL }}"
                                         alt="{{ post.user.username }}"></a>
                            </div>
                            <div class=" text-center card-title mt-5 pt-1">{{ post.user.first_name }}
                                - {{ post.user.last_name }}</div>
                            <div class="card-content">
                                <div class="btn-group">
                                    <span class="font-weight-bold">Follow me on</span>
                                    <a href="{{ post.user.profile.instagram }}" target="_blank"><i
                                            class="fa fa-instagram  fa-2x"></i></a>
                                    <a href="{{ post.user.profile.twitter }}" target="_blank"><i
                                            class="fa fa-twitter fa-2x"></i></a>
                                    <a href="{{ post.user.profile.linkedin }}" target="_blank"><i
                                            class="fa fa-linkedin fa-2x"></i></a>
                                </div>
                                <p class="lead description">
                                    {{ post.user.profile.about }}
                                </p>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="section section-comments">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h3 class="title text-center">Post your comment</h3>
                            <div class="media media-post">
                                <a class="pull-left author" href="#pablo">
                                    <div class="avatar">
                                        <img class="media-object" alt="64x64" style="height: 64px;width: 64px;"
                                             src="{{ post.imageURL }}">
                                    </div>
                                </a>
                                <div class="media-body">
                                    <form action="{% url 'blog:blog_comment' post.slug %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ form.content|as_crispy_field }}
                                        </div>
                                        <div class="media-footer">
                                            <button type="submit"
                                                    class="btn btn-primary btn-round btn-wd pull-right">
                                                Post
                                                Comment
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="media-area">
                                <h3 class="title text-center">
                                    {{ post.comments.count }}
                                    Comment{% if post.comments.count > 1 %}s
                                {% endif %}
                                </h3>
                                {% for foo in post.comments.all %}
                                    <div class="media">
                                        <a class="pull-left" href="#pablo">
                                            <div class="avatar">
                                                <img class="media-object"
                                                     src="{{ foo.user.profile.profilePicsImageURL }}"
                                                     alt="...">
                                            </div>
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">{{ foo.user.first_name }} {{ foo.user.last_name }}
                                                <small>·
                                                    {{ foo.timestamp|timesince }} ago</small></h4>
                                            <h6 class="text-muted"></h6>

                                            <p>{{ foo.content }}!</p>

                                            <div class="media-footer">
                                                <a href="#pablo" class="btn btn-primary btn-simple pull-right"
                                                   rel="tooltip"
                                                   title="" data-original-title="Reply to Comment">
                                                    <i class="material-icons">reply</i> Reply
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}


                            </div>
                            <!-- end_date media-post -->
                        </div>
                    </div>
                </div>


                {% comment %} beginnin you might alse be intersted in {% endcomment %}
                {% include 'main/blog/latest_post.html' %}

                {% comment %} end_date of you might also be intersted in {% endcomment %}
            </div>
        </div>
    </div>
    {#    </div>#}
{% endblock %}