{% extends 'main/blog/blog_base.html' %}
{% load static %}


{% block content %}

    <div class="page-header header-filter header-small" data-parallax="true"
         style="background-image: url({% static 'main/image/blog_post_background.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="title">Get The Best Articles here</h1>
                    <div class="card card-raised card-form-horizontal  mr-0px">
                        <div class="card-content  mr-0px">
                            <form action="{% url 'blog:blog_list' %}" method="">
                                <div class="row">
                                    <div class="col-md-8 float-left ml-3">
                                        <div class="form-group is-empty">
                                            <input type="text" value="" name="q" placeholder="Search for post"
                                                   class="form-control">
                                            <span class="material-input"></span></div>
                                    </div>
                                    <div class="col-md-3 float-right">
                                        <button type="submit" class="btn btn-primary btn-block float-right ml-0px">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="container">

            <div class="section">

                <div class="row">

                    <div class="col-md-10 col-md-offset-1">
                        <h2 class="title">Blog Post</h2>

                        <br>
                        {% for object in object_list %}

                            <div class="card card-plain card-blog">
                                <div class="row">

                                    <div class="col-md-5" style="max-width: 80% !important; ">
                                        <div class="card-image">
                                            <a href="{% url 'blog:blog_detail' object.slug %}">
                                                <img class="img img-raised" src="{{ object.imageURL }}"
                                                     style="max-height: 30vh !important;">
                                            </a>
                                            <div class="colored-shadow"
                                                 style="background-image: url({{ object.imageURL }});
                                                         opacity: 0;max-width: 80% !important; ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7" style="max-width: 80%;">
                                        <a href="{% url 'blog:blog_detail' object.slug %}">
                                            <h6 class="category text-info">{{ object.category.get_category_display }}</h6>
                                        </a>
                                        <h3 class="card-title">
                                            <a href="{% url 'blog:blog_detail' object.slug %}">{{ object.title }}</a>
                                        </h3>
                                        <p class="card-description">
                                            {{ object.get_markdown|truncatechars:200 }} <a
                                                class="btn btn-primary btn-sm btn-round"
                                                href="{% url 'blog:blog_detail' object.slug %}"> Read More </a>
                                        </p>
                                        <p class="author">
                                            by <a
                                                href="{% url 'blog:blog_detail' object.slug %}"><b>{{ object.user.first_name }}
                                            - {{ object.user.last_name }}</b></a>,{{ object.published_date|timeuntil }}

                                        </p></div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <nav aria-label="...">
                            {% if is_paginated %}
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            {% endif %}

                        </nav>
                    </div>
                </div>


            </div>


            {% comment %} beginnin of latest post{% endcomment %}
            {% include 'main/blog/latest_post.html' %}
            {% comment %} end_date of latest post{% endcomment %}
        </div>


        <div class="subscribe-line section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="title">Get Tips & Tricks every Week!</h3>
                        <p class="description">
                            Join our newsletter and get news in your inbox every week! We hate spam too, so no
                            worries about this.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-plain card-form-horizontal">
                            <div class="card-content">
                                <form method="post" action="">
                                    <div class="row">
                                        <div class="col-md-8">

                                            <div class="input-group">
												<span class="input-group-addon">
													<i class="material-icons">mail</i>
												</span>
                                                <input type="email" value="" placeholder="Your Email..."
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-primary btn-round btn-block">
                                                Subscribe
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}