{% extends 'main/blog/blog_base.html' %}
{% load static %}

{% block title %}
    Home Page
{% endblock %}
{% block styles %}
    <style>
        .black_font {
            color: black !important;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="header-3">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="page-header header-filter"
                             style="background-image: url({% static 'main/image/blog_post_background.jpg' %});">

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <h1 class="title">Dynamic Portfolio</h1>
                                        <h4>Get the best portfolio for free for any occupation and choose what you like
                                            most</h4>
                                        <br>
                                        {% if not request.user.is_authenticated %}
                                            <h6>Create your account now:</h6>
                                        {% else %}
                                            View your dashboard
                                        {% endif %}

                                        <div class="buttons">
                                            {% if not request.user.is_authenticated %}
                                                <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg">
                                                    Sign in
                                                </a>
                                                <a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg">
                                                    Sign Up
                                                </a>
                                            {% else %}
                                                <a href="{% url 'profile:profileUpdate' %}"
                                                   class="btn btn-primary btn-lg">
                                                    Dashboard
                                                </a>
                                                <a href="{% url 'account_logout' %}" class="btn btn-primary btn-lg">
                                                    Logout
                                                </a>

                                            {% endif %}


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="page-header header-filter"
                             style="background-image: url({% static 'main/image/blog_post_background.jpg' %});">

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-center">
                                        <h1 class="title">Dynamic Portfolio</h1>
                                        <h4>Get the best portfolio for free for any occupation and choose what you like
                                            most</h4>
                                        <br>
                                        <h6>Connect with us on:</h6>
                                        <div class="buttons">
                                            <a href="{{ twitter_url }}" target="_blank"
                                               class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="{{ facebook_url }}" target="_blank"
                                               class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                            <a href="{{ instagram_url }}" target="_blank"
                                               class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="item">
                        <div class="page-header header-filter"
                             style="background-image: url({% static 'main/image/blog_post_background.jpg' %});">

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5 text-right">
                                        <h1 class="title">Dynamic Portfolio</h1>
                                        <h4>with zero cost you can create your portfolio here</h4>
                                        <br>

                                        <div class="buttons">
                                            <a href="{{ twitter_url }}" target="_blank"
                                               class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="{{ facebook_url }}" target="_blank"
                                               class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                            <a href="{{ instagram_url }}" target="_blank"
                                               class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="main ">

        <div id="about" class="container ">
            <div class="section text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="black_font title"><strong>About Us</strong></h2>
                        <h3 class="text-left description"><strong> Dynamic portfolio is a web that enable you to crate
                            your
                            portfolio without stress you dont need to pay
                            before getting you subdomain we provide you every thing you need to advertise your self
                            ...</strong></h3>
                        <p class="text-left font-weight-bold text-muted">
                        <h4 class="text-left font-weight-bold text-muted"><strong>
                            You dont need stress just create your account and by signing up <a
                                href="{% url 'account_signup' %}">here</a> or login if you already have an account
                            <a
                                    href="{% url 'account_login' %}">Login</a>
                            and follow the steps once
                            you have
                            signed up
                            you would be redirect to you dahsboard where you would have to update your portfolio and
                            choose the portfolio that suite you you can change the text color , background color
                            ,background image and so on until you are satisfied .. enjoy
                            and you also have acces to creating your own blog on your portfolio you can help us by
                            writing blog post it advertises you and also advertise yourself in you
                            profiession</strong></h4>
                        </p>
                    </div>
                </div>


            </div>


        </div>

    </div>


{% endblock %}

