{% extends 'main/blog/blog_base.html' %}


{% block content %}

    <div class="section-grey">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>
                        Are you sure you wants delete {{ post.title }}
                    </h1>
                    <div class="col-4">

                        <form action="." method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <div class="col-4">
                        <a href="{% url 'blog:blog_detail' post.slug %}">
                            <button class="btn btn-outline-primary">Go back</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}