{% load hosts %}
{% load static %}
<section id="sectionBlog">
    <div class="sectionTitle">
        <h1>Journal</h1>
        <h6 class="whiteTitle">My latest news</h6>
    </div>

    <div class="container">

        <div id="blog-grid" class="bGrid">

            <div class="gutter-sizer"></div>

            {% for item in post %}
                <div class="blog-item item-four item-margin">
                    <img src="{{ item.imageURL }}" alt="">
                    <a href=""><h3>{{ item.name }}</h3></a>
                    <p>
                        {{ item.get_markdown|truncatewords:10 }}.<br>
                        <b><a href="{% host_url 'blog:blog_detail' item.slug host 'www' %}">Read more</a></b>
                    </p>
                    <h6>Category <span class="separator">|</span>{{ item.timestamp }} <span class="separator">|</span><a
                            href=""> {{ item.comments.count }}
                        comments</a></h6>
                </div>

            {% endfor %}


        </div>

        <div class="row">
            <div class="col-12 text-center">
                <a href="{% host_url 'blog:blog_user_list' profile.user.username host 'www' %}" class="p-5">
                    <button class="btn-primary">More</button>
                </a>
            </div>
        </div>

    </div>
</section>
