{% load static %}

<footer class="pFooter">

    <div class="container">

        <div class="col-md-4 col-sm-4 col-xs-12 fCopy">
            <span>{{ website_name }}</span>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 fScroll">
            <a class="easing scroll-up" href="#sectionIntro">
                BACK TO TOP<span aria-hidden="true" class="arrow_carrot-up"></span>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 fIcons">
            <a href="{{ facebook_url }}">
                <span aria-hidden="true" class="social_facebook_circle"></span>
            </a>
            <a href="{{ twitter_url }}">
                <span aria-hidden="true" class="social_twitter_circle"></span>
            </a>
            <a href="{{ dribble_url }}">
                <span aria-hidden="true" class="social_dribbble_circle"></span>
            </a>
            <a href="{{ instagram_url }}">
                <span aria-hidden="true" class="social_instagram_circle"></span>
            </a>
        </div>

    </div>

</footer>
