 {% load static %}
  <section class="logos">
        <div class="container">
            <ul class="bxslider" id="bxslider">
                <!-- Logos Items Starts -->
                {% comment %} todo add logos of facebook and all social media {% endcomment %}
                <li><img id="3docean"
                         src="{% static 'portfolio/portfolio_v3/img/logos-slider/3docean-dark-background.png' %}"
                         alt="3docean"></li>
                <li><img id="activeden"
                         src="{% static 'portfolio/portfolio_v3/img/logos-slider/activeden-dark-background.png' %}"
                         alt="activeden"></li>
                <li><img id="audiojungle"
                         src="{% static 'portfolio/portfolio_v3/img/logos-slider/audiojungle-dark-background.png' %}"
                         alt="audiojungle"></li>
                <li><img id="codecanyon"
                         src="{% static 'portfolio/portfolio_v3/img/logos-slider/codecanyon-dark-background.png' %}"
                         alt="codecanyon"></li>
                <li><img id="graphicriver"
                         src="{% static 'portfolio/portfolio_v3/img/logos-slider/graphicriver-dark-background.png' %}"
                         alt="graphicriver">
                </li>
                <li><img id="photodune"
                         src="{% static 'portfolio/portfolio_v3/img/logos-slider/photodune-dark-background.png' %}"
                         alt="photodune"></li>
                <li><img id="themeforest"
                         src="{% static 'portfolio/portfolio_v3/img/logos-slider/themeforest-dark-background.png' %}"
                         alt="themeforest"></li>
                <!-- Logos Items Ends -->
            </ul>
        </div>
    </section>