{% load hosts %}
{% load static %}
{% load fontawesome_5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Page title
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <title>{{ profile.user.username }} </title>
    {% fontawesome_5_static %}

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{% static 'portfolio/portfolio_v3/assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/portfolio_v3/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/portfolio_v3/assets/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/portfolio_v3/assets/css/magnific-popup.css' %}">
    <!-- Icons
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{% static 'portfolio/portfolio_v3/assets/icons/Linea/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'portfolio/portfolio_v3/assets/icons/Elegant/style.css' %}"/>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="{% static 'portfolio/portfolio_v3/assets/js/modernizr.js' %}"></script> <!-- Modernizr -->

    <style>
        #sectionIntro {
            background: url({{ layout.backgroundImageURL }}) !important;
        }

        .dark_background{
            background-color: #3b3535 !important;
            color: {{ layout.secondary_clor }} !important;
        }
    </style>
</head>


<!-- Body Start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body>
<!-- Loader
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="loader">
    <div id="loaderInner"></div>
</div>

<!-- Header Bar
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% include 'portfolio/portfolio_v3/header.html' %}
<!--END Header bar-->


<!-- section Intro
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section id="sectionIntro" class="parallax">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="container">

            <div class="textIntro col-md-6">
                <div class="hi">
                    <h1>{{ profile.user.last_name }} {{ profile.user.first_name }} </h1>
                    <h4>   {% for item in skills %}
                        {% if forloop.counter == 1 %}
                            {{ item.name }} -
                        {% endif %}  {% if forloop.counter == 2 %}
                            {{ item.name }} -
                        {% endif %}  {% if forloop.counter == 3 %}
                            {{ item.name }} -
                        {% endif %}

                    {% endfor %}
                    </h4>
                    <p>
                        {{ profile.about }}
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- section About
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

{% include 'portfolio/portfolio_v3/about.html' %}

<!-- section Resume
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% include 'portfolio/portfolio_v3/resume.html' %}
<!-- section Portfolio
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% include 'portfolio/portfolio_v3/portfolio.html' %}
<!-- section Services
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->


{% include 'portfolio/portfolio_v3/service.html' %}

<!-- section Blog
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

{% include 'portfolio/portfolio_v3/blog.html' %}

<!-- section Contact
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

{% include 'portfolio/portfolio_v3/contact.html' %}
<!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

{% include 'portfolio/portfolio_v3/footer.html' %}
<!--  Javascripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="{% static 'portfolio/portfolio_v3/assets/js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'portfolio/portfolio_v3/assets/js/bootstrap.js' %}"></script>
<script src="{% static 'portfolio/portfolio_v3/assets/js/modernizr.custom.js' %}"></script>
<script src="{% static 'portfolio/portfolio_v3/assets/js/contactform.js' %}"></script>
<!-- Navigation menu-->
<script src="{% static 'portfolio/portfolio_v3/assets/js/classie.js' %}"></script>
<script src="{% static 'portfolio/portfolio_v3/assets/js/nav-active.js' %}"></script>
<script src="{% static 'portfolio/portfolio_v3/assets/js/jquery.easing.js' %}"></script>
<!--JS for MAGNIFIC POPUP & ALL SCRIPTS& CALLS-->
<script src="{% static 'portfolio/portfolio_v3/assets/js/scripts.js' %}"></script>
<script src="{% static 'portfolio/portfolio_v3/assets/js/jquery.magnific-popup.min.js' %}"></script>
<!--JS for easy scrolling-->
<script src="{% static 'portfolio/portfolio_v3/assets/js/smoothscroll.js' %}"></script>
<!-- WOW ANIMATIONS -->
<script src="{% static 'portfolio/portfolio_v3/assets/js/wow.min.js' %}"></script>
<script src="{% static 'portfolio/portfolio_v3/assets/js/jquery-parallax.js' %}"></script>
<!-- Masonry Package -->
<script src="{% static 'portfolio/portfolio_v3/assets/js/isotope.pkgd.min.js' %}"></script>
<script>
    new WOW().init();
</script>


<script>
    $(window).load(function () {
        var $container = $('#masonry-grid');
        $container.isotope({
            itemSelector: '.grid-item'
        });
    });
</script>

<script>
    $(window).load(function () {
        var $container2 = $('#blog-grid');
        $container2.isotope({
            itemSelector: '.blog-item'
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        //.parallax(xPosition, speedFactor, outerHeight) options:
        //xPosition - Horizontal position of the element
        //inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
        //outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
        $('#sectionIntro').parallax({"coeff": +0.5});

    })
</script>
</body>
</html>
