{% load static %}
<section id="sectionPortfolio" class="dark_background">

    <div class="sectionTitle">
        <h1>Portfolio</h1>
        <h6>My latest works</h6>
    </div>

    <!--GRID ITEMS-->

    <!--GRID START-->

    <div class="container dark_background">
        <div id="masonry-grid" class="mGrid">

            <div class="gutter-sizer"></div>


            {% for item in ProjectItem %}

                <div class="grid-item item-five item-padding  ">

                    <a class="image-modal" href="#image-modal1">

                        <img src="{{ item.imageURL }}" alt="">

                        <div class="itemHover">
                            <h6>{{ item.project.name }}</h6>
                            <h4>{{ item.name }}</h4>
                        </div>

                    </a>

                    <div id="image-modal1" class="mfp-hide modal-box">
                        <img src="{{ item.imageURL }}" alt="">
                        <div class="modal-box-content dark_background">
                            <h2>{{ item.name }}</h2>
                            <p>{{ item.description }} </p>
                        </div>
                    </div>

                </div>

            {% endfor %}

        </div>
    </div>


</section>

