<div id="about" class="dark_background about section-padding">

    <!-- Start Container 1 -->

    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 about-box-story">

                <div class="dark_background about-story">

                    <h2 class="secondary_color wow slideInDown" data-wow-duration="2s">about <span class="color-me">me</span></h2>
                    <hr class="line-title-left">
                    <h3 class="secondary_color">{{ profile.motto }}</h3>
                    <p class="dark_background secondary_color">{{ profile.about }}.</p>
                    <button class="wow slideInUp btn btn-hire-me" data-wow-duration="2s">hire me new</button>
                    <button class="wow slideInUp btn btn-download-cv" data-wow-duration="2s">download cv</button>

                </div>


            </div>

            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 about-box-img">

                <div class=" img-story">

                    <img src="{{ profile.profilePicsImageURL }}" class="dark_background img-responsive"
                         alt="My picture" style="width: 497px;height: 384px" >

                </div>

            </div>

        </div>

    </div>

    <!-- End Container 1 -->

    <!-- Start Container 2 -->


    <!-- End Container 2 -->

</div>
