{% load hosts %}
{% load crispy_forms_filters %}
<div id="contact" class="primary_color contact">

    <!-- Start Overly Contact Me -->

    <div class="overly-contact-me"></div>

    <!-- End Overly Contact Me -->

    <!-- Start Container 1 -->

    <div class="container-fluid">

        <div class="section-padding">

            <div class="container-fluid">

                <!-- Start Titles Section Services -->

                <div class="contents-titles-section">

                    <h2 class="wow slideInDown section-title" data-wow-duration="2s">Contact <span
                            class="secondary_color ">{{ profile.user.first_name }}</span></h2>
                    <hr class="line-title-center">

                </div>

                <!-- End Titles Section Services -->

            </div>

            <!-- Start Contact Form -->
            <div class="form-contact">

                <form action="{% host_url 'user:contact_user' host 'www' %}" method="post" class="submit-form">
                    {% csrf_token %}
                    <input type="hidden" value="{{ profile.user.email }}" id="id_to_email" name="to_email">

                    <input type="text" id="id_contact_name" name="contact_name" class="form-control" maxlength="200"
                           placeholder="Your name">

                    <input type="text" id="id_contact_email" name="contact_email" class="form-control" maxlength="200"
                           placeholder="E-mail">

                    <input type="text" id="id_contact_subject" name="contact_subject" class="form-control"
                           maxlength="200"  style="width: 98%"
                           placeholder="Subject">


                    <textarea class="form-control" id="id_contact_message" name="contact_message"
                              placeholder="Message"></textarea>

                    <button class="submit-form btn send-message" type="submit">Send Message</button>

                </form>


            </div>
            <!-- End Contact Form -->

        </div>

    </div>

    <!-- End Container 1 -->

</div>
