{% load hosts %}
<div id="wrapper" class="dark_background">

    <!-- Start Overlay Menu Click -->

    <div class="overlay-page overlay"></div>

    <!-- End Overlay Menu Click -->

    <!-- Start Navigation bar -->

    <div class=" Navigation-bar">

        <div class=" navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation"
                {% if  layout.background_color == 'light' %}
             style="background-color: {{ layout.primary_color }}!important;color: {{ layout.secondary_color }}"
                {% else %}
             style="background-color: rgba(0,0,0,0.84)!important;color: white"
                {% endif %}
        >

            <ul class=" secondary_color nav sidebar-nav">

                <!-- Start Logo Brand -->

                <li class="sidebar-brand"><a href="#">{{ profile.user.first_name }}</a></li>

                <!-- End Logo Brand -->

                <!-- Start Menu List -->

                <li><a href="#Home" class="secondary_color scroll-home">home</a></li>
                <li><a href="#About" class="secondary_color scroll-about">about</a></li>
                <li><a href="#Services" class="secondary_color scroll-services">Services</a></li>
                <li><a href="#Skills" class="secondary_color scroll-skills">skills</a></li>
                <li><a href="#portfolio" class="secondary_color scroll-portfolio">portfolio</a></li>
                <li><a href="#testimonial" class="secondary_color scroll-portfolio">testimonial</a></li>
                <li><a href="#Blog" class="secondary_color scroll-my-blogs">blog</a></li>
                <li><a href="#Contact" class="secondary_color scroll-contact">contact</a></li>
                {% if profile.user.is_authenticated %}
                    <li><a href="{% host_url 'account_login' host 'www' %}" class="secondary_color scroll-contact">Logout</a>
                    </li>
                    <li><a href="{% host_url 'profile:profileUpdate' host 'www' %}"
                           class="secondary_color scroll-contact">Dashboard</a>
                    </li>
                {% else %}
                    <li><a href="{% host_url 'account_login' host 'www' %}"
                           class="secondary_color scroll-contact">Login</a>
                    </li>
                    <li><a href="{% host_url 'account_signup' host 'www' %}"
                           class="secondary_color scroll-contact">Signup</a></li>
                {% endif %}

                <!-- End Menu List -->

            </ul>

        </div>

    </div>

    <!-- End Navigation bar -->

    <!-- Start Page Contents -->

    <div id="dark_background page-content-wrapper">

        <!-- Start Button Menu -->

        <div class="dark_background menu-button">

            <button type="button" class="dark_background hamburger is-closed" data-toggle="offcanvas">

                <span class=" hamb-top" style="{% if layout.background_color == 'dark' %}
                    color: white !important;
                    background-color: white !important;
                {% endif %}"></span>
                <span class=" hamb-middle" style="{% if layout.background_color == 'dark' %}
                    color: white !important;
                    background-color: white !important;
                {% endif %}"></span>
                <span class=" hamb-bottom" style="{% if layout.background_color == 'dark' %}
                    color: white !important;
                    background-color: white !important;
                {% endif %}"></span>

            </button>

        </div>

        <!-- End Button Menu -->

        <!-- Start Header Home -->

        <div id="header-home" class="dark_background home">

            <!-- Start Container 1 -->

            <div class="dark_background container-fluid">

                <div class="row">

                    <!-- Start Header Home Left -->

                    <div class="dark_background col-sm-6 col-md-6 col-lg-6 section-left-home">

                        <!-- Start Background overly of Header Home -->

                        <div class="overlay-header"></div>

                        <!-- End Background overly of Header Home -->

                        <img src="{{ profile.profilePicsImageURL }}" style="weight: 640px;height:690px "
                             class="img-responsive" alt="Background Home">
                        <!-- * img source -->

                    </div>

                    <!-- End Header Home Left -->

                    <!-- Start Header Home Right -->

                    <div class="dark_background col-sm-6 col-md-6 col-lg-6 section-right-home">

                        <div class="box-me">

                            <div class="contents-header-home">

                                <h3>Hello! this is</h3>
                                <h2 class="secondary_color"> {{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
                                <p>

                                    <span class="first-word-fixed">Services i render are</span> <span id="typed"></span>

                                </p>

                                <!-- Start Section Animation Typed Js -->

                                <div id="typed-strings">
                                    {% for item in service %}
                                        <p>{{ item.name }}</p>

                                    {% endfor %}


                                </div>

                                <!-- End Section Animation Typed Js -->

                                <button class="secondary_color btn view-more-header">

                                    view more <i class="ion-ios-arrow-thin-right"></i>

                                </button>

                            </div>

                        </div>

                    </div>

                    <!-- End Header Home Right -->

                </div>

            </div>

            <!-- End Container 1 -->

        </div>

        <!-- End Header Home -->

    </div>

    <!-- End Page Contents -->

</div>
