<div id="services" class="dark_background services section-padding">

    <!-- Start Container 1 -->

    <div class="container-fluid">

        <!-- Start Titles Section Services -->

        <div class="contents-titles-section">

            <h2 class="secondary_color wow slideInDown section-title" data-wow-duration="2s"><span
                    class="color-me">My </span>Services
            </h2>
            <hr class="line-title-center">
        </div>

        <!-- End Titles Section Services -->

    </div>

    <!-- End Container 1 -->

    <!-- Start Container 2 -->

    <div class="container-fluid">

        <div class="row">

            <div class="spaceing-service">

                {% if service %}
                    <!-- Start Box 1 - My Services -->
                    {% for item in  service %}
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 box-services">

                            <div class="service">

                                <img src="{{ item.imageURL }}" alt="{{ item.name }}" style="width: 43px;height: 50px">
                                <h2 class="secondary_color"
                                    style="color: {{ layout.secondary_color }}">{{ item.name }}</h2>
                                <p class="">{{ item.description }}</p>


                            </div>

                        </div>

                    {% endfor %}
                    <!-- End Box 1 - My Services -->
                {% endif %}
            </div>

        </div>

    </div>

    <!-- End Container 2 -->

</div>
