<div id="testimonial" class="dark_background services section-padding">

    <!-- Start Container 1 -->

    <div class="container-fluid">

        <!-- Start Titles Section Services -->

        <div class="contents-titles-section">

            <h2 class="secondary_color wow slideInDown section-title" data-wow-duration="2s"><span
                    class="color-me"> </span>Testimonials
            </h2>
            <hr class="line-title-center">
        </div>

        <!-- End Titles Section Services -->

    </div>

    <!-- End Container 1 -->

    <!-- Start Container 2 -->

    <div class="container">

        <div class="row">

            <div class="spaceing-service">
                <div class="owl-carousel owl-theme">
                    {% if testimonial %}
                        <!-- Start Box 1 - My Services -->
                        {% for item in  testimonial %}
                            <div class="item">
                                <div class="service">
                                    <div class="row  " style="display: flex;padding:10px">
                                        <div class="col-4">
                                            <img src="{{ item.imageURL }}" alt="{{ item.name }}"
                                                 style="height: 20vh;width:auto;border-radius: 10%">
                                        </div>
                                        <div class="col-6" style="text-align: right ">
                                            <h2 class="float-right text-center secondary_color"
                                                style="color: {{ layout.secondary_color }}">{{ item.client_name }}</h2>
                                            <br>
                                            <a href="{{ item.url }}"
                                                    target="_blank">
                                                <p
                                                    class="text-muted text-left">{{ item.detail|truncatechars:200 }}</p></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- End Box 1 - My Services -->
                    {% endif %}
                </div>
            </div>

        </div>

    </div>

    <!-- End Container 2 -->

</div>
