<div id="want-work" class="primary_color secondary_color background_image want-work">

    <!-- Start Background overly of Header Home -->

    <div class="overlay-want-work secondary_color"></div>

    <!-- End Background overly of Header Home -->

    <div class="section-padding">

        <div class="container-fluid">

            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 box-w-info">

                <div class="secondary_color contents-talk-me">

                    <i class="wow slideInDown icon ion-radio-waves " data-wow-duration="2s"></i>
                    <h2 class="secondary_color wow slideInDown section-title " data-wow-duration="2s">Want work with me!</h2>

                </div>

            </div>

            <div class="secondary_color col-xs-12 col-sm-4 col-md-4 col-lg-4">

                <div class="w-btn-contant-me">

                    <button class="secondary_color wow slideInUp btn" data-wow-duration="2s">contact me</button>

                </div>

            </div>

        </div>

    </div>

</div>
