<div id="welcome-services" class="dark_background primary_color background_image welcome-services">

    <!-- Start Background overly of Header Home -->

    <div class="bg-overly-services"></div>

    <!-- End Background overly of Header Home -->

    <!-- Start Container 1 -->

    <div class="container-fluid">

        <div class="welcome-sev section-padding">

            <h2 class="wow slideInDown" data-wow-duration="2s">Amazing Services</h2>
            <hr class="line-title-center">
            <p>for {{ profile.user.first_name }} -{{ profile.user.last_name }}</p>
            <button  class="dark_background">see my Skills</button>

        </div>

    </div>

    <!-- End Container 1 -->

</div>
