{% load static %}
<!-- fontawesome  -->

<link rel="stylesheet" href="{% static 'portfolio_v1/assets/fonts/font-awesome/css/font-awesome.min.css' %}">

<link rel="stylesheet" href="{% static 'owlCarousel/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'owlCarousel/css/owl.theme.default.min.css' %}">

<!-- REVOLUTION STYLE SHEETS -->

<!-- bootstrap -->
<link rel="stylesheet" href="{% static 'portfolio_v2/assets/css/bootstrap.min.css' %}">
<link href="{% static 'portfolio_v2/assets/css/material-kit.css' %}" rel="stylesheet"/>


