<div class="dark_background">
    <div class="projects-3 dark_background" id="projects-3">

        <h2 class="dark_background font-weight-bold  font-italic  title text-center"
            style="margin-bottom:  2px;">
            Portfolio
        </h2>
        <div class="container" id="Portfolio">

            <div class="row">
                <div class="col-md-12">
                    <div class="profile-tabs"
                         style="margin-left: 1px !important;margin-right: 1px !important;margin-top: 2px;">
                        <div class="nav-align-center">
                            <ul class="nav nav-pills    {% if layout.background_color == 'light' %} nav-pills-rose
{% elif layout.background_color == 'dark' %} nav-pills-primary
{% endif %}" role="tablist"
                            >
                                {% if project.count > 0 %}
                                    <li class="active  ">
                                        {% comment %}{% endcomment %}
                                        {% comment %}{% endcomment %}
                                        <a href="#work" role="tab" data-toggle="tab">
                                            <i class="material-icons">Work</i>
                                        </a>
                                        {% comment %}{% endcomment %}
                                        {% comment %}{% endcomment %}
                                    </li>
                                {% endif %}

                                {% for item in project %}
                                    <li class="">
                                        <a href="#{{ item.name|slugify }}" role="tab" data-toggle="tab">
                                            <i class="material-icons"></i>
                                            {{ item.name }}
                                        </a>
                                    </li>

                                {% endfor %}

                            </ul>

                        </div>
                    </div>
                    <!-- End Profile Tabs -->
                </div>
            </div>

            <div class="tab-content">

                <div class="tab-pane work active" id="work">
                    <div class="demo-gallery dark mrb35">
                        <ul id="captions" class="captions list-unstyled row">
                            {% for item in ProjectItem %}
                                <div class="col-md-4 col-lg-3 col-sm-6   gallery-item " data-src="{{ item.imageURL }}"
                                     data-sub-html="<h4>{{ item.name }}</h4> <p>
                                                {{ item.description }}
                                                </p>">
                                    <img class="img-responsive" src=" {{ item.imageURL }}"
                                         style="height: 302px; width: 537px;"
                                         alt="{{ items.name }}">
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>





                {% for item in project %}
                    <div class="tab-pane  {{ item.name|slugify }} " id="{{ item.name|slugify }}">
                        <div class="demo-gallery dark mrb35">
                            <ul id="captions" class="captions list-unstyled row">
                                {% for items in item.project.all %}`
                                    <div class="col-md-4 col-lg-3 col-sm-6   gallery-item "
                                         data-src="{{ item.imageURL }}"
                                         data-sub-html="<h4>{{ item.name }}</h4> <p>
                                                {{ item.description }}
                                                </p>">
                                        <img class="img-responsive" src=" {{ items.imageURL }}"
                                             style="height: 302px; width: 537px;"
                                             alt="{{ items.name }}">
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>