{% load static %}
<div class="dark_background">
<section class="services_height "
         style="background-image: url('{{ profile.backgroundImageURL }}');background-attachment: fixed ">
    <section class="dark_background " style="background-size: cover;min-height: 50vh">
        <div class=" container">
            <div class="row">
                <div class="col">
                    <h1 class="display-3 font-italic">Service </h1>
                </div>
            </div>

            <div class="row " style="">
                {% for item in service.all %}
                    <div class=" col-md-6 col-sm-6 col-xs-12 " style="">
                        <div class="dark_background" style="border-radius: 15%">
                            <div class="image-responsive">
                                <img class="my_service_image" src="{{ item.imageURL }}" alt="{{ item.name }}">
                            </div>

                            <h3 class="font-weight-bold secondary_color  ">{{ item.name }}</h3>
                            <p class=" text-muted">
                                {{ item.description|truncatechars:500 }}</p>
                        </div>
                    </div>

                {% endfor %}


            </div>
        </div>


    </section>
</section>
</div>