<section id="screenshot"
         class="dark_background bgc-one bgc-1 goll-custom-sec goll-section-wrapper goll-description">
    <div class="container">
        <div class="row">
            <!-- Section Header -->
            <div class="col-md-12 col-sm-12 col-xs-12 goll-section-header wow fadeInDown">
                <h2>ABOUT<span class="secondary_color">ME</span></h2>
                <div class="goll-section-divider"></div>
            </div>
            <!-- Section Header End -->

            <div class="col-md-6 col-sm-6 col-xs-12 goll-custom-sec-img wow bounceInLeft">
                <img src="{{ profile.profilePicsImageURL }}" alt="Custom Image">
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 goll-custom-sec-text wow bounceInRight">
                <p>{{ profile.about }}!</p>
            </div>
        </div>
    </div>
</section>