{% load hosts %}
<section id="contact" class="dark_background bgc-one bgc-7 goll-section-wrapper goll-contact-section"
         data-stellar-background-ratio="0.5">
    <div class="goll-parallax-overlay"></div>
    <div class="container">
        <div class="row">

            <!-- Section Header -->
            <div class="col-md-12 col-sm-12 col-xs-12 goll-section-header wow fadeInDown goll-section-header-parallax">
                <h2 class="secondary_color_dark">CONTACT <span
                        class="secondary_color">{{ profile.user.first_name }}</span>
                </h2>
                <div class="goll-section-divider"></div>
                <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Get in touch with me if you
                    would like to work with me.</p>
            </div>
            <!-- Section Header End -->

            <div class="goll-contact-details">

                <form id="contactform" method="post" action="{% host_url 'user:contact_user' host 'www' %}"
                      class="submit-form">
                    {% csrf_token %}
                    <div class="col-md-12 col-sm-12 col-xs-12 goll-contact-form wow bounceInRight">
                        <div id="contact-result"></div>
                        <div id="contact-form">
                            <input type="hidden" name="to_email" id="id_to_email" value="{{ profile.user.to_email }}">

                            <div class="goll-input-name goll-input-fields">
                                <input type="text" name="contact_name" id="id_contact_name" placeholder="Name">
                            </div>
                            <div class="goll-input-name goll-input-fields">
                                <input type="text" name="contact_subject" id="id_contact_subject" placeholder="Subject">
                            </div>

                            <div class="goll-input-email goll-input-fields">
                                <input type="email" name="contact_email" id="id_contact_email" placeholder="Email">
                            </div>

                            <div class="goll-input-message goll-input-fields">
                                <textarea name="contact_message" id="id_contact_message" cols="30" rows="10"
                                          placeholder="Message"></textarea>
                            </div>

                            <input type="submit" value="SEND MESSAGE" id="submit-btn"
                                   style="background-color: {{ layout.primary_color }}!important;">
                        </div>
                    </div>
                    <!-- Contact Form End -->
                </form>

            </div>
        </div>
    </div>
</section>
