<section id="portfolio" class="dark_background bgc-two bgc-4 goll-portfolio-section">
    <div class="container">
        <div class="row">

            <!-- Section Header -->
            <div class="col-md-12 col-sm-12 col-xs-12 goll-section-header wow fadeInDown">
                <h2 class="secondary_color_dark">PORT<span class="secondary_color">FOLIO</span></h2>
                <div class="goll-section-divider"></div>
            </div>
            <!-- Section Header End -->

        </div>
    </div>

    <!-- Works -->
    <div class="goll-portfolio-works wow fadeIn" data-wow-duration="2s">

        <!-- Filter Button Start -->
        <div id="goll-portfolio-filter" class="goll-portfolio-filter-btn-group">
            <ul>
                <li>
                    <a href="#" class="background_clicked" data-filter="*"
                       style="border-color: {{ layout.secondary_color }};color: white !important;">ALL</a><!--
                         -->
                    {% for item in project %}
                        <a href="#" data-filter=".{{ item.name|slugify }}" class="background_clicked"
                           style="border-color: {{ layout.secondary_color }};color: white !important;">{{ item.name }}</a>
                    {% endfor %}

                </li>
            </ul>
        </div>
        <!-- Filter Button End -->

        <div class="goll-portfolio-items">

            {% for item in ProjectItem %}

                <!-- Portfolio Items -->
                <div class="item goll-portfolio-item  {{ item.project.name|slugify }}">

                    <img src="{{ item.imageURL }}">
                    <div class="goll-portfolio-details-wrapper">
                        <div class="goll-portfolio-details">
                            <div class="goll-portfolio-meta-btn">
                                <ul>
                                    <li class="goll-lighbox"><a href="{{ item.imageURL }}"
                                                                class="goll-featured-work-img" ><i
                                            class="fa fa-search"
                                            style="color: {{ layout.secondary_color }};background-color: {{ layout.background_color }}"></i></a>
                                        <h3 style="color: {{ layout.secondary_color }};margin-top: 12px;">{{ item.name }}</h3>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

            {% endfor %}


        </div>
    </div>
    <!-- Works End -->


</section>
