<section id="about" class="dark_background bgc-one bgc-3 goll-section-wrapper">
    <div class="container">
        <div class="row">

            <!-- Section Header -->
            <div class="col-md-12 col-sm-12 col-xs-12 goll-section-header wow fadeInDown">
                <h2 class="secondary_color_dark">SERVI<span class="goll-highlight-text">CE</span></h2>
                <div class="goll-section-divider"></div>

            </div>
            <!-- Section Header End -->

            <!-- What We Do -->
            <div class="goll-what-we-do" style="align-items: center">

                {% for item in service %}
                <div class=" col-md-3 col-sm-3 col-xs-12 goll-blurb-round-icon wow bounceInRight" data-wow-delay=".5s">
                    <div class="background_hover color_hover secondary_color goll-icon">
                        <img src="{{ item.imageURL }}" alt="" style="height: 100px;width: 100px;border-radius: 50% ;">
                    </div>
                    <h4 class="color_hover" style="font-size: 14px !important;text-align: center">{{item.name}}</h4>
                    <p class="color_hover ">{{item.description}}</p>
                </div>
                {% endfor %}
            </div>
            <!-- What We Do End -->

        </div>
    </div>
</section>
