<section class="dark_background slider-pro goll-slider" id="goll-slider">
    <div class="sp-slides">

        <!-- Slides -->
        <div class="sp-slide goll-main-slides">
            <div class="goll-img-overlay"></div>

            <img class="sp-image" src="{{ profile.profilePicsImageURL }}" alt="Slider 1"/>

            <h1 class="sp-layer goll-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500"
                data-hide-delay="200">
                <span class="goll-highlight-texts"><img src="{{ profile.profilePicsImageURL }}"
                                                        style="border-radius: 80%"></span>
            </h1>

            <p class="sp-layer"
               data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200"
               data-show-transition="left" data-hide-transition="right">
            <div style="font-size: 16px">{{ profile.user.first_name }} {{ profile.user.last_name }}</div>
            {{ profile.motto }}
            </p>
        </div>
        <!-- Slides End -->
        <!-- Slides -->
        <div class="sp-slide goll-main-slides">
            <div class="goll-img-overlay"></div>
            <img class="sp-image" src="{{ profile.backgroundImageURL }}" alt="Slider 2"/>

            <h1 class="sp-layer goll-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500"
                data-hide-delay="200">
                <span class="goll-highlight-texts"><img src="{{ profile.backgroundImageURL }}"
                                                        style="border-radius: 80%"></span>
            </h1>

            <p class="sp-layer"
               data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200"
               data-show-transition="left" data-hide-transition="right">
                {{ profile.user.first_name }} {{ profile.user.last_name }}
            </p>
        </div>
        <!-- Slides End -->

    </div>
</section>
