<section class="dark_background slider-pro {% comment %}goll-slider{% endcomment %}" id="goll-slider">
    <div class="sp-slides">

        <!-- Slides -->

        <div class="sp-slide goll-main-slides">
            <div class="goll-img-overlay"
                 style="background-color: rgba({{ primary_color.primary_color_1 }},
                         {{ primary_color.primary_color_2 }},{{ primary_color.primary_color_3 }},0.5)"></div>

            <img class="sp-image" src="{{ profile.profilePicsImageURL }}" alt="Slider 1"/>

            <div class="sp-layer goll-slider-text-big"
                 style="display: flex;text-align: left;opacity: unset;visibility: visible !important; "
                 data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1000"
                 data-hide-delay="10000">
                <span class="secondary_color " >

                <h1 class="secondary_color"
                    style="font-weight: bolder;"> I am {{ profile.user.last_name }} -  {{ profile.user.first_name }}
                </h1>
                    <br>
                    <h5 class="font-weight-bold ">
                        Motto:{{ profile.motto|linebreaks }}
                    </h5>
                    <br>
                    <h3 class="secondary_color">
                        Follow me on :
                        <a href="{{ profile.linkedin }}"><i class="fa fa-linkedin "></i></a>
                       <a href="{{ profile.twitter }}"> <i class="fa fa-twitter "></i></a>
                        <a href="{{ profile.facebook }}"><i class="fa fa-facebook "></i></a>
                        <a href="{{ profile.instagram }}"><i class="fa fa-instagram "></i></a>
                    </h3>

                   </span>
            </div>

        </div>
        <!-- Slides End -->

    </div>
</section>



