{% load static %}
<section id="home" class="dark_background dtr-section dtr-hero-section-top-padding dtr-pb-100">
    <div class=" container">

        <!--===== row 1 starts =====-->
        <div class=" row">

            <!-- column 1 starts -->
            <div class=" col-12 col-md-6">
                <!-- intro text -->
                <p class="secondary_color text-size-xxl font-weight-300 color-dark">Hello,</p>
                <p class="secondary_color text-size-xxl font-weight-300 color-dark">I am <span
                        class="font-weight-500">{{ profile.user.first_name }} {{ profile.user.last_name }}</span></p>
                <div class="spacer-20"></div>
                <!-- animated text starts -->
                <h3>
                <span class="dtr-animated-headline push"> <span class="dtr-words-wrapper" style="width: 107.281px;">

                                        {% for item in service %}

                                            <!-- first visible word -->
                                            <b class="secondary_color is-visible"><span
                                                    class="secondary_color color-blue opacity-2">{{ item.name }}</span></b>
                                            <!-- first visible word ends -->

                                        {% endfor %}

                            </span>
                </span></h3>
                <!-- animated text ends -->
            </div>
            <!-- column 1 ends -->

            <!-- column 2 starts -->
            <div class=" col-12 col-md-2 dtr-rounded-img"><img src="{{ layout.profilePicsImageURL }}" alt="image">
            </div>
            <!-- column 2 ends -->

            <!-- column 3 starts -->
            <div class=" col-12 col-md-4 small-device-space">

                <!--=== img slider - 3col starts ===-->
                <div class="dtr-slick-slider dtr-img-slider-1col dtr-rounded-img">
                    <!-- img 1 -->
                    {% for item in ProjectItem %}
                        <div><img src="{{ item.imageURL }}" alt="image" style="width: 290px;height: 338.33px;"></div>
                    {% endfor %}

                </div>
                <!--=== img slider - 3col ends ===-->

            </div>
            <!-- column 3 ends -->

        </div>
        <!--===== row 1 ends =====-->
        <!--===== row 2 starts =====-->
        <div class="row dtr-mt-30">

            <!-- column 1 starts -->
            <div class="col-12 col-md-10">

                <!-- text -->


                <!-- social starts -->
                <ul class="secondary_color_real dtr-social dtr-social-list dtr-styled-social text-left dtr-mt-30">
                    <li class="secondary_color dtr-social-title font-weight-500 color-dark">Follow Me on</li>
                    <li><a href="{{ profile.instagram }}" class=" secondary_color_real dtr-social-button dtr-instagram" target="_blank"
                           title="instagram"><span>Follow on Instagram</span></a></li>
                    <li><a href="{{ profile.twitter }}" class=" secondary_color_real dtr-social-button dtr-twitter" target="_blank"
                           title="twitter"><span>Follow On Twitter</span></a></li>
                    <li><a href="{{ profile.facebook }}" class=" secondary_color_real dtr-social-button dtr-facebook" target="_blank"
                           title="facebook"><span>Like On Facebook</span></a></li>
                    <li><a href="{{ profile.linkedin }}" class=" secondary_color_real dtr-social-button dtr-linkedin" target="_blank"
                           title="linkedin"><span>View My Profile</span></a></li>
                </ul>
                <!-- social ends -->

            </div>
            <!-- column 1 ends -->

            <!-- column 2 starts -->
            <div class="secondary_color col-12 col-md-2 dtr-rounded-img small-device-space"><img
                    src="{{ layout.backgroundImageURL }}"
                    alt="image"
                    style="width: 130px;height: 151px">
            </div>
            <!-- column 2 ends -->

        </div>
        <!--===== row 2 ends =====-->
    </div>
</section>