{% load static %}
<section id="services" class="dark_background dtr-section dtr-py-100">
    <div class="container">

        <!-- heading starts -->
        <div class="secondary_color dtr-styled-heading heading-center">
            <h2 class="secondary_color">What I Offer</h2>
        </div>
        <!-- heading ends -->

        <div class=" row">

            {% for item in service %}
                <div class="col-12 col-sm-6 col-lg-4" style="height:346px; ">
                    <div class="dark_background dtr-service-box " >
                        <p class="secondary_color dtr-service-number color-blue" style="border-radius: 80%">
                            0{{ forloop.counter }}</p>
                        <img src="{{ item.imageURL }}" alt="image" style="width: 50px;height: 48px">
                        <p class="primary_color">
                        <h4 class="transparent_color dtr-service-heading ">{{ item.name }}</h4>
                        <div class="transparent_color small ">{{ item.description|truncatewords:200 }}.</div>
                        </p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>