{% extends 'dashboard/dashboard.html' %}
{% load crispy_forms_filters %}


{% block style %}
    {{ form.media }}
    <style>
        .wmd-panel {
            margin-left: 0% !important;;
            margin-right: 0% !important;;
            width: 100% !important;
            min-width: 500px !important;;
        }
    </style>
{% endblock style %}

{% block blog_update %}
    active
{% endblock %}

{% block panel %}


    <div class="content  mt-5 ">
        <div class="container-fluid mt-0 pt-0">
            <div class="row">
                <div class="col-md-12" style="">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon" style="">
                            <div class="card-icon">
                                <h4 class="card-title text-light" style="">Blog Post</h4>
                            </div>

                        </div>
                        <div class="card-body" style="">
                            <div class="table-responsive">
                                <table class="table table-shopping">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Image</th>
                                        <th>Title</th>
                                        <th class="th-description">Description</th>
                                        <th class="th-description">Delete</th>
                                        <th class="th-description">Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in posts %}
                                        <tr>
                                            <td>
                                                <div class="img-container">
                                                    <img src="{{ item.imageURL }}" alt="{{ item.name }}">
                                                </div>
                                            </td>
                                            <td class="td-name text-capitalize">
                                                {{ item.title }}
                                            </td>

                                            <td class="text-muted">
                                                {{ item.description|truncatechars:20 }}
                                            </td>
                                            <td class="td-actions">
                                                <a href="{% url 'blog:delete_post' item.slug %}">
                                                    <button type="button" rel="tooltip" data-placement="left" title=""
                                                            class="btn btn-link text-danger"
                                                            data-original-title="Delete">
                                                        Delete
                                                    </button>
                                                </a>
                                            </td>
                                            <td class="td-actions text-info">
                                                <a href="{% url 'blog:update_post' item.slug %}">
                                                    <button type="button" rel="tooltip" data-placement="left" title=""
                                                            class="btn btn-link text-info"
                                                            data-original-title="Edit">
                                                        Edit
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header card-header-primary card-header-text">
                            <div class="card-text">
                                <h4 class="card-title">Edit Post</h4>
                            </div>
                        </div>
                        <div class="card-content">

                            <form action="{% url 'blog:update_post' post.slug %}" method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 mx-auto mt-5">
                                            {{ form.title|as_crispy_field }}
                                        </div>


                                    </div>
                                </div>
                                <div class="col-12  mt-5">
                                    <div class="row">
                                        <div class="col-md-6 text-dark">
                                            <div class="font-weight-bold ">
                                                Image
                                            </div>
                                            {{ form.image }}
                                        </div>
                                        <div class="col-md-6   text-dark">
                                            <label for="id_published_date">
                                                Published Date
                                            </label><input type="datetime-local" class="form-control"
                                                           name="published_date" value="{{ post.published_date }}"
                                                           id="id_published_date">

                                        </div>

                                    </div>

                                </div>

                                <div class="col-12  mt-5">
                                    <div class="text-primary font-weight-bold display-4">Category :</div>
                                    {{ form.category|as_crispy_field }}
                                </div>
                                <div class="col-12  mt-5">
                                    {{ form.description }}
                                </div>

                                <button class="float-right btn btn-primary float-left ">Update</button>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


{% endblock %}

