

<div class="content  ">
    <div class="container">
        <div class="row text-center "
             style="display:flex;text-align: center;justify-content: center;align-items: center">
            <h1 class="font-weight-bold text-center">
                <strong class="text-center text-capitalize">How to Setup your portfolio</strong>
                <hr style="height: 15px !important;width: 50vw;align-self: center;padding-top: 2px !important;"
                    class="bg-primary">
            </h1>
        </div>
        <div class="row">
            <div class="col-12">
                <h2><strong> Name :</strong></h2>
                <p class="text-muted font-weight-bold">

                    Dynamic portfolio enable you to edit your name and not you can change your username only three times
                    in a month
                    because that is what we use to identify your portfolio and you have for example if your username is
                    <strong>username</strong> then your portfolio
                    url which would be the public one you can share to any one would be a
                    <span class="text-primary">https://username.dynamicptl.com</span> the dynamicptl is the default
                    dynamic portfolio url
                    you also have access to changing you first name ,last name and email any time you want but please do
                    it
                    with care
                </p>
            </div>
        </div>
        <hr style="line-height: 5px; background-color: rgba(0,0,0,0.44) !important;">
        <div class="row">
            <div class="col-12">
                <h2><strong> Profile :</strong></h2>
                <p class="text-muted font-weight-bold  pl-5">

                    Dynamic portfolio enable you to change so many things in your portfolio you can change the portfolio
                    version in there.
                    There are somany things you can change in there for example :
                    <br>
                    <strong>Country:</strong> You can change the country that suites you but please do it with care
                    <br>
                    <strong>Portfolio :</strong> This is named as
                    <span> <strong>portfolio version </strong></span> it is just a name it does not mean any thing
                    unique
                    <strong>ie</strong> it just enable you to choose the type of portfolio that suite you it is named
                    with
                    number at the end but still advice is go for the latest
                    <br>
                    <strong>Phone number :</strong> This could be your personal phone number or office it is not really
                    required you can chose not to put it there
                    <br>
                    <strong>Website :</strong> This is your choice it is not required but it could be any important
                    website
                    you want to link to
                    <br>
                    <strong>social links :</strong> These links are required but that does not mean you cant do without
                    them but they are used in the
                    portfolio so if they are not provided some link might now work example:
                    <bold>facebook</bold>
                    etc
                    <br>
                    <strong>Motto :</strong> This is just your motto so it is not required
                    <br>
                    <strong>Address :</strong> This is just your address so it is not required
                    <br>
                    <strong>About :</strong>This is important which is one of the most important thing the the profile
                    it must be there it can also be blank but it would affect the website
                    <br>
                    <strong>Images :</strong>
                <div class="font-weight-bold pl-5 ml-5">
                    <strong>Logo :</strong> your logo is required which is what make your website unique
                    <br>
                    <strong>Profile Pics :</strong> This is very important you must put it in it mostly used in the
                    website it is the primary image of the website you cannot do without it <strong> Note it must be
                    your
                    image</strong>
                    <br>
                    <strong>Background image :</strong>This is an extra image which is used in place of your profile
                    image and it could be any image you like to use
                </div>
                </p>
            </div>
        </div>
        <hr style="line-height: 5px; background-color: rgba(0,0,0,0.44) !important;">
        <div class="row">
            <div class="col-12">
                <h2><strong> Layout :</strong></h2>
                <p class="text-muted font-weight-bold pl-5">

                    This part enable you to change color color it could be primary color or the secondary color or even
                    the background
                    <strong>Primary color</strong>This is your main color it is the color used for background in some
                    part of your website
                    <br>
                    <strong>Secondary color</strong>This is your text color it is the color used for text in some part
                    of your website
                    <br>
                    <strong>Background color</strong>This is either dark background or light the default is light and
                    sometimes it could be dark
                </p>
            </div>
        </div>
        <hr style="line-height: 5px; background-color: rgba(0,0,0,0.44) !important;">
        <div class="row">
            <div class="col-12">
                <h2><strong> Testimonial :</strong></h2>
                <p class="text-muted font-weight-bold pl-5">
                    This part you can add what customers are saying about your projects and it has link which you can
                    put in for the project you did
                    <strong>Note : you can also edit and delete the testimonial</strong>
                </p>
            </div>
        </div>
        <hr style="line-height: 5px; background-color: rgba(0,0,0,0.44) !important;">
        <div class="row">
            <div class="col-12">
                <h2><strong> Skill :</strong></h2>
                <p class="text-muted font-weight-bold pl-5">
                    These are the list of skill you have and it can be added and the forms you would fill are percent
                    ,name of the skill
                    and icon and <strong>Note: The percent must not be less than 1 and it must not be greater then
                    100 or you would get an error</strong>
                </p>
            </div>
        </div>
        <hr style="line-height: 5px; background-color: rgba(0,0,0,0.44) !important;">
        <div class="row">
            <div class="col-12">
                <h2><strong> Service :</strong></h2>
                <p class="text-muted font-weight-bold pl-5">
                    These are the services you rendered so you can add them on the same page and also delete it if you
                    dont not to it is not
                    required
                </p>
            </div>
        </div>
        <hr style="line-height: 5px; background-color: rgba(0,0,0,0.44) !important;">
        <div class="row">
            <div class="col-12">
                <h2><strong> Resume :</strong></h2>
                <p class="text-muted font-weight-bold pl-5">
                    This is important but it might not be really required you can choose to add it or not
                </p>
            </div>
        </div>
        <hr style="line-height: 5px; background-color: rgba(0,0,0,0.44) !important;">
        <div class="row">
            <div class="col-12">
                <h2><strong> Project :</strong></h2>
                <p class="text-muted font-weight-bold pl-5">
                    This is one part of the portfolio you must create a project before adding an item under the project
                    you cant create an item before creating in a project and the project dont need to be many it could
                    be just four or five but you can
                    add asy many item you want to add below it
                    <strong>Note: After creating a project just <a
                            href="{% url 'dashboard:projectUpdate' %}">here</a> then you add your item <a
                            href="{% url 'dashboard:projectItemUpdate' %}">here</a> </strong>
                </p>
            </div>
        </div>
        <hr style="line-height: 5px;background-color: rgba(0,0,0,0.44); !important; ">
        <div class="row">
            <div class="col-12">
                <h2><strong> Item :</strong></h2>
                <p class="text-muted font-weight-bold pl-5">
                    This is the item which is what you create and it is under a project you can view it <a
                        href="{% url 'dashboard:projectItemUpdate' %}">here</a> to understand better a
                </p>
            </div>
        </div>
        <hr style="line-height: 5px;background-color: rgba(0,0,0,0.44)">
        <div class="row">
            <div class="col-12">
                <h2><strong> Blog :</strong></h2>
                <p class="text-muted font-weight-bold pl-5">
                    You can write blog post to make your portfolio outstanding which would make people know more about
                    you and this is a very good way to advertise your self <a href="{% url 'blog:blog_create' %}"><i
                        class="fa fa-link fa-2x "></i></a>
                </p>
            </div>
        </div>

    </div>
</div>

