{% extends 'dashboard/dashboard.html' %}
{% load crispy_forms_filters %}


{% block panel %}


    <div class="content   ">
        <div class="container  mb-5">
            <div class="row">
                <div class="col-12 shake">
                    <div class="card mt-5  " style="box-shadow: rgba(172,250,88,0.76)">
                        <div class="card-header card-header-primary card-header-text">
                            <div class="card-text">
                                <h4 class="card-title">Profile
                                    Update</h4>
                            </div>
                        </div>
                        <div class="card-content m-3">
                            <form action="{% url 'profile:profileUpdate' %}" enctype="multipart/form-data"
                                  method="post">
                                {% csrf_token %}


                                <div class="row ">

                                    {% comment %} the country{% endcomment %}
                                    <div class="col-12">
                                        <div class="row">
                                            <label class="col-md-3 col-form-label">Country</label>
                                            <div class="col-md-9">
                                                <div class="form-group has-default bmd-form-group">
                                                    {{ profile_form.country|as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% comment %} end_date of country {% endcomment %}


                                    {% comment %} beginning of version{% endcomment %}
                                    <div class="col-12 mx-auto ">
                                        <div class="row">
                                            <label class="col-md-3 col-form-label">Portfolio version</label>
                                            <div class="col-md-9">
                                                <div class="form-group has-default bmd-form-group">
                                                    {{ profile_form.portfolio_version|as_crispy_field }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    {% comment %} end_date of version {% endcomment %}


                                    {% comment %} beginning of phone number {% endcomment %}
                                    <div class="col-sm-12 col-md-6 mx-auto ">
                                        {{ profile_form.phone_number|as_crispy_field }}
                                    </div>
                                    {% comment %} end_date of phone number{% endcomment %}


                                    {% comment %} beginning of website {% endcomment %}
                                    <div class="col-sm-12 col-md-6 mx-auto">
                                        {{ profile_form.website|as_crispy_field }}
                                    </div>
                                    {% comment %} end_date of website{% endcomment %}

                                    {% comment %} beginning of linkedin {% endcomment %}
                                    <div class="col-sm-12 col-md-6 mx-auto">
                                        {{ profile_form.linkedin|as_crispy_field }}
                                    </div>

                                    {% comment %} beginning of twitter{% endcomment %}
                                    <div class="col-sm-12 col-md-6 mx-auto">
                                        {{ profile_form.twitter|as_crispy_field }}
                                    </div>
                                    {% comment %} end_date of twitter{% endcomment %}


                                    {% comment %} beginning of instagram{% endcomment %}
                                    <div class="col-sm-12 col-md-6 mx-auto">
                                        {{ profile_form.instagram|as_crispy_field }}
                                    </div>
                                    {% comment %} end_date of instagram{% endcomment %}


                                    {% comment %} beginning of facebook{% endcomment %}
                                    <div class="col-sm-12 col-md-6 mx-auto">
                                        {{ profile_form.facebook|as_crispy_field }}
                                    </div>
                                    {% comment %} end_date of facebook{% endcomment %}

                                    {% comment %} beginning of motto{% endcomment %}

                                    <div class="col-12">
                                        {{ profile_form.motto|as_crispy_field }}
                                    </div>
                                    {% comment %} end_date of motto {% endcomment %}


                                    {% comment %} beginning of address {% endcomment %}

                                    <div class="col-12">
                                        {{ profile_form.address|as_crispy_field }}
                                    </div>
                                    {% comment %} end_date of address {% endcomment %}

                                    {% comment %} beginning of about {% endcomment %}

                                    <div class="col-12">
                                        {{ profile_form.about|as_crispy_field }}
                                    </div>
                                    {% comment %} end_date of about {% endcomment %}

                                    <div class="col-12">
                                        <div class="row">
                                            {% comment %} the profile logo{% endcomment %}
                                            <div class=" col-sm-12 col-md-4 mx-auto">
                                                <div class="row">
                                                    <div class="col-md-8 offset-2">
                                                        <div class="picture-container">

                                                            <div class="card bg-primary">
                                                                <div class="card-header  text-info">
                                                                    Profile
                                                                </div>
                                                                <div class="card-image bg-primary">
                                                                    <div class="picture">
                                                                        <img src="{{ profile.profilePicsImageURL }}"
                                                                             class="picture-src  profilePicturePreview"
                                                                             id=profilePicturePreview" title=""
                                                                             style="width:  30px;object-fit: contain">
                                                                    </div>
                                                                    <div class="">
                                                                        {{ profile_form.profile_pics }}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% comment %} end_date of profile logo{% endcomment %}

                                            {% comment %} the profile logo{% endcomment %}
                                            <div class=" col-sm-12 col-md-4 mx-auto ">
                                                <div class="row">
                                                    <div class="col-md-8 offset-2">
                                                        <div class="picture-container">
                                                            <div class="card bg-primary">
                                                                <div class="card-header text-info">
                                                                    Logo
                                                                </div>
                                                                <div class="card-image">
                                                                    <div class="picture">
                                                                        <img src="{{ profile.logoImageURL }}"
                                                                             class="picture-src  logoPicturePreview"
                                                                             id=logoPicturePreview" title=""
                                                                             style="width: 30px;object-fit: contain">
                                                                    </div>
                                                                    <div class="">
                                                                        {{ profile_form.logo }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% comment %} end_date of profile logo{% endcomment %}

                                            {% comment %} the background {% endcomment %}
                                            <div class=" col-sm-12 col-md-4 mx-auto bg-light">
                                                <div class="row">
                                                    <div class="col-md-8 offset-2">
                                                        <div class="picture-container ">

                                                            <div class="card  bg-primary">
                                                                <div class="card-header  text-info">
                                                                    Background
                                                                </div>
                                                                <div class="card-image">
                                                                    <div class="picture">
                                                                        <img src="{{ profile.backgroundImageURL }}"
                                                                             class="picture-src  backgroundImagePreview"
                                                                             id=backgroundImagePreview" title=""
                                                                             style="width: 30px;object-fit: contain">
                                                                    </div>
                                                                    <div class="">
                                                                        {{ profile_form.background_image }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% comment %} end_date of background{% endcomment %}
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button class="float-right btn   btn-outline-primary">Update</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


