{% extends 'dashboard/dashboard.html' %}
{% load crispy_forms_filters %}
{% load static %}



{% block panel %}
    <div class="content">


        <div class="container">

            <div class="page-categories" style="">
                {% if project_items.count > 0 %}
                    <h3 class="title text-center font-weight-bold">ALL projects</h3>
                {% else %}
                    <h3 class="title text-center font-weight-bold">You dont have a project</h3>
                {% endif %}
                <br>
                <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist"
                    style="">

                    {% if project_items.count > 0 %}
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#Work" role="tablist" style="">
                                <i class="material-icons" style="">Show all</i>
                            </a>
                        </li>
                    {% else %}
                        <div class="col-12">
                            <div class="alert alert-warning">
                                <div class="container">
                                    <div class="alert-icon">
                                        <i class="material-icons">warning</i>
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                    </button>
                                    <b>Note:</b> You have to go and create a project
                                </div>
                            </div>
                        </div>
                    {% endif %}


                    {% for item in project %}

                        <li class="nav-item">
                            <a class="nav-link  show" data-toggle="tab" href="#{{ item.name|slugify }}"
                               role="tablist" style="">
                                <i class="material-icons" style="">{{ item.name }}</i>
                            </a>
                        </li>
                    {% endfor %}

                </ul>

                <div class="tab-content tab-space tab-subcategories">
                    <div class="tab-pane active show" id="Work" style="width: 90%;margin-left: 5%;margin-right: 5%;">
                        <div class="row">


                            <div class="demo-gallery dark mrb35">
                                <ul id="lightgallery" class="list-unstyled row">

                                    {% for item in project_items %}
                                        <li class="col-xs-6 col-sm-6 col-md-4 gallery-item"
                                            data-src="{{ item.imageURL }}"
                                            data-sub-html="<h4>{{ item.name }}</h4><p>
                                             {{ item.description }}</p>">
                                            <img class="img-responsive" src="{{ item.imageURL }}"
                                                 style="height: 40vh;width: 100%;">
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>


                        </div>

                    </div>

                    {% for project_items in project %}

                        <div class="tab-pane   {{ project_items.name|slugify }}  " id="{{ project_items.name|slugify }}"
                             style="">
                            <div class="row">
                                <div class="demo-gallery dark mrb35">
                                    <ul id="caption" class="list-unstyled row">
                                        {% for item in project_items.project.all %}

                                            <li class="col-xs-6 col-sm-6 col-md-4">
                                                <div class="gallery-item"
                                                     data-src="{{ item.imageURL }}"
                                                     data-sub-html="<h4>{{ item.name }}</h4> <p>
                                                {{ item.description }}
                                                </p><button class='btn btn-primary btn-round btn-sm'
                                                                    data-toggle='modal'
                                                                    data-target='#{{ item.name|slugify }}'
                                                                    type='button' >
                                                                Edit
                                                            </button>">
                                                    <img class=""
                                                         src="{{ item.imageURL }}"
                                                         style="height: 40vh;width: 100%;">
                                                </div>
                                                <div class="row">
                                                    <button class="btn btn-primary btn-round btn-sm my_button"
                                                            data-toggle="modal"
                                                            data-target="#{{ item.name|slugify }}_{{ item.id }}"
                                                            type="button">
                                                        Edit
                                                    </button>
                                                    <form action="{% url 'profile:projectItemDelete' %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" value="{{ item.id }}" name="id">
                                                        <button class=" btn btn-primary btn-round btn-sm my_button"
                                                                type="submit">
                                                            Delete
                                                        </button>
                                                    </form>
                                                </div>
                                            </li>

                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        </div>

                    {% endfor %}
                </div>
            </div>

            {% if project.count > 0 %}
                <div class="row">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-text">
                            <div class="card-text">
                                <h4 class="card-title">
                                    Create Item</h4>
                            </div>
                        </div>
                        <div class="card-container">
                            <div class="col-12">
                                <form action="{% url 'profile:projectItemsCreate' %}" method="post"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}


                                    <div class="col-12 mt-2">
                                        {{ project_items_form.name|as_crispy_field }}
                                    </div>


                                    <div class="col-md-12">
                                        <label class="required" for="id_project">Project:</label>
                                        <select name="project" class="form-control" required="" id="id_project"
                                                style="">
                                            {% for foo in project %}
                                                <option value="{{ foo.id }}">{{ foo.name }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>


                                    <div class="col-6   mt-2">
                                        {{ project_items_form.image }}
                                    </div>

                                    <div class="col-6  mt-2">
                                        {{ project_items_form.tag|as_crispy_field }}
                                    </div>

                                    <div class="col-12 mt-2">
                                        {{ project_items_form.description|as_crispy_field }}
                                    </div>

                                    <button class=" btn btn-primary text-red">Create</button>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>

            {% endif %}


        </div>
    </div>

    {% for item in project_items %}

        {% if project_items.count > 0 %}
            {#   the beginning of modal #}
            <div class="modal fade " id="{{ item.name|slugify }}_{{ item.id }}"
                 tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{ item.name }}</h4>
                            <button type="button" class="close"
                                    data-dismiss="modal"
                                    aria-hidden="true">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card ">
                                <div class="card-container">
                                    <div class="col-12">
                                        <form action="{% url 'profile:projectItemUpdate' %}"
                                              method="post"
                                              enctype="multipart/form-data">
                                            {% csrf_token %}

                                            <input type="hidden" value="{{ item.id }}" name="id">
                                            <div class="col-12 mt-2">
                                                <label for="id_name">Name
                                                </label><input
                                                    type="text"
                                                    name="name"
                                                    class="form-control textinput "
                                                    placeholder="maximum length of 10"
                                                    maxlength="50"
                                                    required=""
                                                    value="{{ item.name }}"
                                                    id="id_name">
                                            </div>


                                            <div class="col-md-12">
                                                <label class="required"
                                                       for="id_project">Project:</label>
                                                <select name="project"
                                                        class="form-control"
                                                        required=""
                                                        id="id_project"
                                                        style="">
                                                    {% for foo in project %}
                                                        <option value="{{ foo.id }}">{{ foo.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="col-6   mt-2">
                                                {{ project_items_form.image }}
                                            </div>

                                            <div class="col-6  mt-2">
                                                <label for="id_tag"
                                                       class="requiredField bmd-label-static">
                                                    Tag<span
                                                        class="asteriskField">*</span>
                                                </label>
                                                <div class="">
                                                    <input type="text"
                                                           name="tag"
                                                           class="form-control   textInput  form-control"
                                                           placeholder="just a tag maximum length of 10"
                                                           maxlength="10"
                                                           value="{{ item.tag }}"
                                                           required=""
                                                           id="id_tag">

                                                </div>
                                            </div>

                                            <div class="col-12 mt-2">
                                                <div id="div_id_description"
                                                     class="form-group bmd-form-group">

                                                    <label for="id_description"
                                                           class="requiredField bmd-label-static">
                                                        Description<span
                                                            class="asteriskField">*</span>
                                                    </label>
                                                    <textarea name="description"
                                                              cols="100"
                                                              rows="4"
                                                              class=" textarea form-control"
                                                              placeholder="just a little description with maximum characters of 200"
                                                              maxlength="200"
                                                              required=""
                                                              id="id_description">{{ item.description }}</textarea>
                                                </div>
                                            </div>

                                            <div class="col-12 mt-5">
                                                <button class="float-right btn btn-outline-primary text-red">
                                                    Update
                                                </button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  End Modal -->

        {% endif %}

    {% endfor %}




{% endblock %}




