{% load crispy_forms_filters %}
<section id="about" class="padding-tb-100px  {% if layout.background_color == 'dark' %}
      dark-about
        {% else %}
           section-ba-2
         {% endif %} ">


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="margin-bottom-30px">
                    <h2 class="title-large margin-bottom-0px text-center   {% if layout.background_color == 'dark' %}
                                  dark-about
                                    {% else %}
                                       secondary_color section-ba-2
                                     {% endif %}"
                    >About Me</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-5">
                <div class="fizo-image layout-1 " style="background-color: {{ layout.primary_color }} !important;">
                    <img src="{{ profile.profilePicsImageURL }}" class="my_height" alt="">

                </div>
            </div>

            <div class="col-md-7 ">

                <h2 class="font-weight-bold text-dark padding-tb-23px">I am {{ profile.first_name }}
                    - {{ profile.last_name }}</h2>
                <div class="about-item">
                    <div class="text-medium margin-bottom-30px {% if layout.background_color == 'dark' %}
                                  dark-about
                                    {% else %}
                                       secondary_color section-ba-2
                                     {% endif %}" >{{ profile.about }}
                    </div>
                </div>

            </div>

        </div>


    </div>

</section>
