{% load static %}
{% load fontawesome_5 %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>
        the user
    </title>
    {% fontawesome_5_static %}
    <meta name="author" content="Nile-Theme">
    <meta name="robots" content="index follow">
    <meta name="googlebot" content="index follow">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:800%7CPoppins:300i,300,400,500,600,700,400i,500%7CPlayfair+Display:400,700,900"
          rel="stylesheet">
    <!-- owl Carousel assets -->
    <link href="{% static 'portfolio_v1/assets/css/my_style.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio_v1/assets/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio_v1/assets/css/owl.theme.css' %}" rel="stylesheet">


    <link type="text/css" rel="stylesheet" href="{% static 'lightbox/css/lightGallery.css' %}"/>

    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'portfolio_v1/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio_v2/assets/css/material-kit.css' %}">

    <!-- hover anmation -->
    <link rel="stylesheet" href="{% static 'portfolio_v1/assets/css/hover-min.css' %}">
    <!-- Nile icon -->
    <link rel="stylesheet" href="{% static 'portfolio_v1/assets/css/nile_icons.css' %}">
    <!-- main style -->
    <link rel="stylesheet" href="{% static 'portfolio_v1/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio_v1/assets/css/colors/color-1.css' %}">
    <!-- Nile Slider -->
    <link rel="stylesheet" href="{% static 'portfolio_v1/assets/css/nile-slider.css' %}">
    <!-- elegant icon -->
    <link rel="stylesheet" href="{% static 'portfolio_v1/assets/css/elegant_icon.css' %}">
    <!-- animate -->
    <link rel="stylesheet" href="{% static 'portfolio_v1/assets/css/animate.css' %}">


    <!-- fontawesome  -->
    <link rel="stylesheet" href="{% static 'portfolio_v1/assets/fonts/font-awesome/css/font-awesome.min.css' %}">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'portfolio_v1/assets/rslider/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'portfolio_v1/assets/rslider/fonts/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio_v1/assets/rslider/css/settings.css' %}">

    <style>
        .skill_background {
            background-image: url( {{ layout.backgroundImageURL }});
            background-size: contain;
            background-color: {{ layout.secondary_color }} !important;
            background-attachment: fixed
        }

        .secondary_color {
            color: {{ layout.secondary_color }} !important;
        }

        .primary_color {
            background-color: {{ layout.primary_color }} !important;
        }

        .main_top_background {
            background-image: url({{ layout.profilePicsImageURL }});
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        !important;
        }

    </style>
</head>

<body id="top-page"   style=" font-family: 'ui-sans-serif','serif';width: auto;">

<!-- Wrapper -->
<div id="one-page" class="fizo-one-page">

    {% include 'portfolio_v1/sidebar.html' %}

    <!-- Page content -->

    <div id="page-content">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

        <div class="main_top_background">
            <div class=" {% if layout.background_color == 'dark' %}
        about-me-banner_dark
        {% else %}
            about-me-banner
         {% endif %}">


                <div class="flex-center">
                    {% if  profile.main_skill %}
                        <h4>{{ profile.main_skill }}</h4>
                    {% endif %}
                    <h2>I'M {{ profile.user.first_name }} {{ profile.user.last_name }}
                    </h2>


                    <div class="text-center">
                        <a href="#" class="nile-bottom layout-1"
                           style="background-color: {{ layout.primary_color }}"
                        >Discover More</a>
                    </div>
                </div>
            </div>
        </div>

        <hr class="p-0" style="background-color: {{ layout.primary_color }} ;height: 3px;margin: 0px;padding: 0px">


        {% comment %} the user skills section {% endcomment %}

        {% include 'portfolio_v1/skills.html' %}
        {% comment %} end_date of the users skill section {% endcomment %}
        <hr class="p-0" style="background-color: {{ layout.primary_color }} ;height: 3px;margin: 0px;padding: 0px">


        {% comment %} this is the beginnin of the about section {% endcomment %}
        {% include 'portfolio_v1/about.html' %}
        {% comment %} thisi si the end_date of the about section {% endcomment %}
        <hr class="p-0" style="background-color: {{ layout.primary_color }} ;height: 3px;margin: 0px;padding: 0px">


        {% comment %} beginning of services {% endcomment %}
        {% include 'portfolio_v1/services.html' %}
        {% comment %} end_date of services {% endcomment %}
        <hr class="p-0" style="background-color: {{ layout.primary_color }} ;height: 3px;margin: 0px;padding: 0px">

        {% comment %} these are the users projects {% endcomment %}
        {% include 'portfolio_v1/portfolio.html' %}
        {% comment %} end_date of the users projects {% endcomment %}


        {% comment %} the testimonials{% endcomment %}
        {% include 'portfolio_v1/testimoinals.html' %}
        {% comment %} end_date of the testimonails{% endcomment %}
        <hr class="p-0" style="background-color: {{ layout.primary_color }} ;height: 3px;margin: 0px;padding: 0px">


        {% comment %} beginning of contact  {% endcomment %}
        {% include 'portfolio_v1/blog.html' %}
        {% comment %} end_date of contact {% endcomment %}

        {% comment %} beginning of contact  {% endcomment %}
        {% include 'portfolio_v1/contact.html' %}
        {% comment %} end_date of contact {% endcomment %}

        <hr class="p-0" style="background-color: {{ layout.primary_color }} ;height: 3px;margin: 0px;padding: 0px">

        <!-- preloader -->
        <div class="nile-preloader">
            <div class="logo">

                <img src="{% static 'portfolio_v1/assets/img/loading-1.svg' %}" alt="">
            </div>
        </div>
        <!-- end_date preloader -->


        {% comment %}The footer content{% endcomment %}
        {% include 'portfolio_v1/footer.html' %}
        {% comment %} end_date of footer content {% endcomment %}


    </div>
    <!-- END Page content -->

    <header class="mobile-header background-main-color"
            style="background-color: {{ layout.primary_color }} !important;">
        <div class="logo">
            <a href="#"><img src="{{ layout.profilePicsImageURL }}"
                             class="icon" style="border-radius: 50%;
                              height: 50px !important;"
                             alt=""></a>
            <a class="onepage-mobile-toggle padding-15px background-main-color border-radius-3" href="#"><i
                    class="fa fa-bars"></i></a>
        </div>
    </header>
</div>
<!-- END Wrapper -->


<script src="{% static 'portfolio_v1/assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'main/js/my_script.js' %}"></script>

<script src="{% static 'portfolio_v1/assets/js/owl.carousel.min.js' %}"></script>


<script src="{% static 'portfolio_v1/assets/js/YouTubePopUp.jquery.js' %}"></script>

<script src="{% static 'portfolio_v1/assets/js/imagesloaded.min.js' %}"></script>
<script src="{% static 'portfolio_v1/assets/js/popper.min.js' %}"></script>
<script src="{% static 'portfolio_v1/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'portfolio_v1/assets/js/imagesloaded.min.js' %}"></script>
<script src="{% static 'portfolio_v1/assets/js/jquery.filterizr.min.js' %}"></script>
<script src="{% static 'portfolio_v1/assets/js/wow.min.js' %}"></script>
<script src="{% static 'portfolio_v1/assets/js/custom.js' %}"></script>
<link href="{% static 'portfolio_v1/assets/js/my_script.js' %}" rel="stylesheet">


<!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
<script src="{% static 'lightbox/js/jquery.mousewheel.min.js' %}"></script>

{#<script src="{% static 'lightbox/js/lightgallery.min.js' %}"></script>#}
<script src="{% static 'lightbox/js/lightgallery.js' %}"></script>

<!-- lightgallery plugins -->
<script src="{% static 'lightbox/js/lg-thumbnail.min.js' %}"></script>
<script src="{% static 'lightbox/js/lg-fullscreen.min.js' %}"></script>

<script>
    $ ('.captions').lightGallery ({
        selector: '.gallery-item'
    });

</script>

<script type="text/javascript">
    const test_count = "{{ testimonial.count }}"

    let test_item_600 = 2
    console.log ('this is the test item count' , test_item_600)
    if (test_count > 2 || test_count === '3') {
        test_item_600 = 3
    }
    let test_item_1000 = test_item_600
    if (test_count > 5 || test_count === '5') {
        test_item = 5
    }

    $ ('.owl-carousel').owlCarousel ({
        loop: true ,
        margin: 10 ,
        nav: true ,
        responsive: {
            0: {
                items: 2
            } ,
            600: {
                items: test_item_600
            } ,
            1000: {
                items: test_item_1000
            } ,

        }
    })


</script>


</body>

</html>
