<section id="bolg" class="padding-tb-100px  {% if layout.background_color == 'dark' %}
                                  dark-about
                                    {% else %}
                                       secondary_color secondary-ba2
                                     {% endif %}">
    <div class="container">


        <!-- Title -->
        <div class="nile-title layout-1   text-center">
            <div class=" {% if layout.background_color == 'dark' %}dark-about
                                        {% else %}
                                       secondary_color
                                     {% endif %}">
                Our Articles & News
            </div>
            <h2>Our News</h2>

        </div>
        <!-- END Title -->

        <div class="row">

            {% for post in portfolio.post %}

                <div class="col-lg-4 col-md-4 col-sm-8 col-sm-offset-2 mx-auto">
                    <div class="fizo-blog layout-2">
                        <div class="img-in">
                            <img src="{{ post.imageURL }}" style="height: 30vh; width: 80vh !important;" alt="">
                            <a href="#" class="read-more flex-center  {% if layout.background_color == 'dark' %}
                                  dark-about
                                    {% else %}
                                       primary_color
                                     {% endif %}"
                            >Read More</a>
                        </div>
                        <ul class="meta">
                            <li class="author"><strong>By : <a href="#">{{ post.user }}</a></strong></li>
                            <li><strong><a href="#">
                                {% if post.post.count > 0 %}
                                    {{ post.post.count }}
                                {% else %}0 {% endif %}Comments
                            </a></strong></li>
                        </ul>
                        <a href="#" class="title_in  {% if layout.background_color == 'dark' %}
                                  dark-about
                                    {% else %}
                                       secondary_color
                                     {% endif %}">{{ post.title }}
                            <div class="excerpt  {% if layout.background_color == 'dark' %}
                                  dark-about
                                    {% else %}
                                       secondary_color
                                     {% endif %}">
                                {{ post.description|truncatewords:20 }}
                            </div>
                        </a>
                    </div>
                </div>

            {% endfor %}


        </div>


    </div>
</section>