{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

<section id="contact" class="my-section-dark my_height section-ba-2 container mb-0 remove_m_p"
         style="background-image: url({{ profile.backgroundImageURL }})">
    <div class="container remove_m_p ">


        <div class="row justify-content-center remove_m_p">

            <div class="col-12 mt-4  primary-color">
                <div class="sub-title contact_header">Making your Life Easier</div>
                <h2 class="font-weight-bold ml-3">Contact <span><h5> {{ profile.user.username }}</h5></span></h2>
            </div>
            <div class="col-lg-4 ">
                <div class="fizo-icon-box layout-2 remove_m_p">
                    <div class="icon"><img src="{% static 'portfolio_v1/assets/icons/map-location.svg' %}" alt=" "
                                           class="contact_img">
                    </div>
                    <h5>{{ profile.get_country_display }}</h5>
                    <div class="dis">{{ profile.address }}</div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="fizo-icon-box layout-2 remove_m_p">
                    <div class="icon"><img src="{% static 'portfolio_v1/assets/icons/24-hours.svg' %}" alt=" "
                                           class="contact_img"></div>
                    <h3 class="font-weight-bold">call</h3>
                    <h5>{{ profile.phone_number }}</h5>
                </div>
            </div>
        </div>

        <div class="col-8 mx-auto   ">
            <div class="card">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="card-body   " style="color: {{ layout.secondary_color }}">
                        <div class=" remove_m_p ">
                            <div class="row">
                                <div class="col-6 pl-2 ">{{ contact_user_form.contact_name|as_crispy_field }}</div>
                                <div class="col-6 pl-2 ">{{ contact_user_form.contact_email|as_crispy_field }}</div>
                                <div class="col-12 ">{{ contact_user_form.contact_subject|as_crispy_field }}</div>
                                <div class="col-12 ">{{ contact_user_form.contact_message|as_crispy_field }}</div>
                                <div class="col-12 ">
                                    <button class="btn background_color">
                                        SEND MESSAGE
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>


    </div>
</section>
