{% load crispy_forms_filters %}

<section class=" {% if layout.background_color == 'dark' %}
                      dark-about
                        {% else %}
                           section-ba-2
                         {% endif %}">
    <div class="row p-5 text-center">
        <div class="col-12  text-center">
            <h1 class="font-weight-bold text-center text-capitalize  display-3  {% if layout.background_color == 'dark' %}
                                  dark-about
                                    {% else %}
                                       secondary_color section-ba-2
                                     {% endif %}">Portfolio</h1>
        </div>
    </div>
    <div class=" my_height  remove_m_p" style="width: 80vw">
        <div class="row  margin-bottom-36px mt-5">
            <div class="col-12 ">
                <div class="profile-tabs">
                    <div class="nav-align-center">
                        <ul class=" nav nav-pills  nav-pills-icons  my_nav_display {% if layout.background_color == 'light' %} dark-about
                        {% elif layout.background_color == 'dark' %} secondary_color
                        {% endif %} " role="tablist" style="">

                            {% if project.count > 0 %}
                                <li class="nav-clicked">
                                    <a href="#work" role="tab" data-toggle="tab" class="nav-clicked">
                                        Work
                                    </a>
                                </li>
                            {% endif %}

                            {% for item in project %}
                                <li class="nav-clicked">
                                    <a href="#{{ item.name|slugify }}" role="tab" data-toggle="tab" class="nav-clicked">
                                        {{ item.name }}
                                    </a>
                                    <section>

                                        {% if request.user.is_authenticated %}
                                            {% include 'portfolio_v1/add_project_item.html' %}
                                        {% endif %}
                                    </section>

                                </li>

                            {% endfor %}

                        </ul>

                    </div>
                </div>
                <!-- End Profile Tabs -->
            </div>
        </div>


        <div class="tab-content">

            <div class="tab-pane work active" id="work">
                <div class="demo-gallery dark mrb35">
                    <ul id="captions" class="captions list-unstyled row">
                        {% for item in ProjectItem %}
                            <!-- Portfolio Item -->
                            <div class="col-lg-3 col-md-3  col-sm-6    gallery-item "
                                 data-src="{{ item.imageURL }}"
                                 data-sub-html="<h4>{{ item.name }}</h4> <p>
                                                {{ item.description }}
                                                </p>">
                                <div class="fizo-work layout-2">
                                    <div class="img-in">
                                        <img src={{ item.imageURL }}
                                                     alt="{{ item.name }}"
                                             style="object-fit: contain;max-width:60vh ;max-height: 40vh;">
                                    </div>
                                    <a href="{{ item.imageURL }}"
                                       data-gallery="mixedgallery"
                                       data-max-width="600"
                                       data-max-height="600"
                                       data-toggle="lightbox"
                                       data-title="{{ item.name }}"
                                       data-footer={{ item.description }} href="#" class="hover"
                                       style="object-fit: contain;max-width:60vh ;max-height: 40vh;">
                                        <div class="flex-center">
                                            <h3 style="color: {{ layout.secondary_color }} !important;">{{ item.name }}</h3>
                                            <span>{{ item.get_tag_display }}</span>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>


            {% for item in project %}
                <div class="tab-pane  {{ item.name|slugify }} " id="{{ item.name|slugify }}">
                    <div class="demo-gallery dark mrb35">
                        <ul id="captions" class="captions list-unstyled row">

                            {% for items in item.project.all %}

                                <!-- Portfolio Item -->
                                <div class="col-lg-3 col-md-3  col-sm-6    gallery-item "
                                     data-src="{{ item.imageURL }}"
                                     data-sub-html="<h4>{{ item.name }}</h4> <p>
                                                {{ item.description }}
                                                </p>">
                                    <div class="fizo-work layout-2">
                                        <div class="img-in">
                                            <img src={{ items.imageURL }}
                                                         alt="{{ items.name }}"
                                                 style="object-fit: contain;max-width:60vh ;max-height: 40vh;">
                                        </div>
                                        <a href="{{ items.imageURL }}"
                                           data-gallery="mixedgallery"
                                           data-max-width="600"
                                           data-max-height="600"
                                           data-toggle="lightbox"
                                           data-title="{{ items.name }}"
                                           data-footer={{ items.description }} href="#" class="hover"
                                           style="object-fit: contain;max-width:60vh ;max-height: 40vh;">
                                            <div class="flex-center">
                                                <h3 style="color: {{ layout.secondary_color }} !important;">{{ items.name }}</h3>
                                                <span>{{ items.get_tag_display }}</span>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                                <!-- END Portfolio Item -->
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
<hr class="p-0" style="background-color: {{ layout.primary_color }} ;height: 3px;margin: 0px;padding: 0px">

