{% load static %}
<section class="services_height "
         style="background-image: url('{{ profile.backgroundImageURL }}');background-attachment: fixed ">
    <section class="service_background" style="height: auto;{% if layout.background_color == 'light' %}
        background-color: rgba(248,246,246,0.5);
    {% elif layout.background_color == 'dark' %} background-color: rgba(147,133,133,0.5);
    {% endif %}">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="font-weight-bold text-center text-capitalize  display-3  {% if layout.background_color == 'dark' %}
                                 text-white
                                    {% else %}
                                       secondary_color
                                     {% endif %}">Service </h1>
                </div>
            </div>

            <div class="row " style="">
                {% for item in service.all %}
                    <div class="col-md-6 col-sm-6 col-xs-12 " style="">
                        <div class=" {% if layout.background_color == 'dark' %}
                                  dark-about
                                    {% else %}
                                       section-ba-2
                                     {% endif %}" style="border-radius: 10%">
                            <div class="image-responsive">
                                <img class="my_service_image" src="{{ item.imageURL }}" alt="{{ item.name }}">
                            </div>

                            <h3 class="font-weight-bold {% if layout.background_color == 'dark' %}
                                  dark-about
                                    {% else %}
                                       secondary_color section-ba-2
                                     {% endif %} ">{{ item.name }}</h3>
                            <p class="  {% if layout.background_color == 'dark' %}
                                  dark-about
                                    {% else %}
                                       secondary_color
                                     {% endif %}">
                                {{ item.description }}</p>
                        </div>
                    </div>

                {% endfor %}


            </div>
        </div>


    </section>
</section>
