{% load static %}
{% load crispy_forms_filters %}

<section class="  {% if layout.background_color == 'dark' %}
                                  dark-about
                                    {% else %}
                                       secondary_color section-ba-2
                                     {% endif %}">

    <div class="row" style="min-height: 50vh">
        <!--about img col-->
        <div class="col-md-6 skill_background  ">

        </div>
        <!--about text col-->
        <div class="col-md-6  px-5" style="">
            <!--this is for centering -->
            <div class="about-text-center">
                <!--title-->
                <div class="row ">
                    <div class="col text-center">
                        <h2 class="font-weight-bold text-center text-capitalize  display-3 mb-0 ">
                            <strong class="{% if layout.background_color == 'dark' %}
                                 text-white
                                    {% else %}
                                       secondary_color
                                     {% endif %}">Skills</strong>
                        </h2>

                    </div>

                </div>
                <!--end of title-->
                <div class="row">
                    <div class="col-12 mb-5 mt-5">
                        {% for skill in skills.all %}
                            <!--single item-->

                            <div class="col-md-8 mx-auto" style="">
                                <!--progress bar single-->
                                <div class="" style="display: flex;justify-content: space-between">
                                    <h3 class=" secondary_color">  {% if item.icon %}
                                        {{ item.icon.as_html }}
                                    {% endif %}{{ skill.name }}</h3>
                                    <h3 class=" secondary_color "
                                        style="font-weight: bolder">{{ skill.percent }}%</h3>
                                </div>
                                <div class="progress bg-secondary">
                                    <div class="progress-bar primary_color"
                                         style="width: {{ skill.percent }}%;height: 3px"></div>
                                </div>
                                <!--end of progress bar single-->
                            </div>

                            <!--end of single item-->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
