{% load static %}

<div class="my_row my_height add_margin_and_padding  {% if layout.background_color == 'dark' %}
                                  dark-about
                                    {% else %}
                                       section-ba-2
                                     {% endif %}">
    <div class="row">
        <div class="col-12 text-center ">
            <h2 class="font-weight-bold text-center text-capitalize  display-4 {% if layout.background_color == 'dark' %}
                                  dark-about
                                    {% else %}
                                       secondary_color section-ba-2
                                     {% endif %} ">Testimonials</h2>
        </div>
    </div>
    <hr>
    <div class="owl-carousel owl-theme">
        {% for test in testimonial %}
            <div class="item">
                <div class="fizo-testimonial layout-1   "
                     style="height: 30vh;
                             {% if layout.background_color == 'dark' %}
                                 color:white;
                                 background-color: #343A40;
                             {% endif %} ">
                    <div class="img-in"><img src="{{ test.imageURL }}" alt=""></div>
                    <div class="{% comment %}content{% endcomment %}  {% if layout.background_color == 'dark' %}
                                  dark-about
                                    {% else %}
                                       secondary_color section-ba-2
                                     {% endif %} ">{{ test.detail|truncatechars:200 }}
                    </div>
                    <h4 class="name  {% if layout.background_color == 'dark' %}
                                  dark-about
                                    {% else %}
                                       secondary_color section-ba-2
                                     {% endif %} ">
                        {{ test.customer_name }}
                    </h4>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
</div>