.row__posters {
    display: flex;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 20px;

}

.add_margin_and_padding {
    padding: 10vh;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.black_font {
    color: black !important;
}

.row__poster {
    object-fit: contain;
    width: 100%;
    min-width: 300px;
    max-height: 600px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row__poster:hover {
    transform: scale(1.2);

}

.row__posterLarge {
    max-height: 250px;
}

.row__posterLarge:hover {
    transform: scale(1.09);
}


.contact_img {
    height: 20px;
    width: 30px;
    margin: 0px !important;
}

.remove_m_p {
    margin: 0px !important;
    padding: 0px !important;
}

.contact_header {
    font-size: 40px;
    margin-top: 40px;
    font-style: oblique;
    align-self: center;
    margin-left: 20vh;
    font-stretch: expanded;
}


.my_logo {
    height: 30px;
    width: 30px;;
    object-fit: contain
}


.my_height {
    min-height: 65vh !important;
    max-width: 100% !important;
}

.profile_about {
    width: 600px;
    height: 750px;
}

.my_light {
    background-color: #c2c0c0;

}

/* Large profile image */
.large-profile {
    background-size: cover;
    background-position: center;
}

body {
    font-family: 'Tunga', 'serif';
}

.my_nav_display {
    display: flex !important;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;

}

.nav-clicked {
    font-size: 20px !important;
    margin-right: 10px;
    margin-top: 0px;

}

.nav-clicked:active {
    color: red !important;
}


.nav-clicked:hover {
    background-color: grey !important;
    padding: 10px;
    transition: transform 450ms;
}

.nav-clicked:focus {
    color: white !important;
    padding: 20px;
}


.circular_image {
    border-radius: 50%;
}


.font_large {
    font-size: 50px;
}

.wmd-panel {
    margin-left: 5% !important;
    margin-right: 5% !important;
    width: 50%;
    min-width: 500px;
}

#id_image {
    /*mt-3  bg-primary  waves-effect mx-auto col-12*/
    background-color: rgba(30, 56, 250, 0.76);
}

.services_height {
    min-height: 50vh;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.my_service_image {
    border-radius: 50%;
    height: 50px;
    width: auto;
}


.my_light_section {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    min-height: 60vh;
}

.page_height {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.skill_height {
    min-height: 20%;
}

.skill_image {
    height: 50px;
    width: auto;
}

.skill_card {
    height: 10% !important;
}

.title-underline {
    width: 200px;
    height: 10px;
    margin: 0 auto;
}

.my_footer_color {
    background-color: #343a40 !important;
    color: white !important;
}


.about-me-banner_dark {
    text-align: center;
    background-color: rgba(24, 23, 23, 0.5);
    height: 100vh;
    color: white;

}

.about-me-banner_dark h4 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 5px;
    color: white;
}

.about-me-banner_dark h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 40px;
    color: white;
}

.about-me-banner_dark h1 h2 h3 h4 div {
    color: white;
}

.dark-about {
    background-color: #343A40;
    color: white;
}

.dark-about h1 h2 h3 h4 div section strong span li ul input {
    color: white !important;
}
